In [1]:
#importing therequired libraries
from bs4 import BeautifulSoup
import requests
import pandas as pd

# 1.  Display all the header tags from ‘en.wikipedia.org/wiki/Main_Page’.

In [2]:
page1 = requests.get("https://en.wikipedia.org/wiki/Main_Page")
Soup1 = BeautifulSoup(page1.content)

In [3]:
header= Soup1.find_all(["h1","h2","h3","h4","h5","h6"])

In [4]:
header_name =[]
for i in header:
    header_name.append(i.text.strip())
header_name

['Main Page',
 "From today's featured article",
 'Did you know\xa0...',
 'In the news',
 'On this day',
 "Today's featured picture",
 'Other areas of Wikipedia',
 "Wikipedia's sister projects",
 'Wikipedia languages',
 'Navigation menu',
 'Personal tools',
 'Namespaces',
 'Variants',
 'Views',
 'More',
 'Search',
 'Navigation',
 'Contribute',
 'Tools',
 'Print/export',
 'In other projects',
 'Languages']

# 2.  display IMDB’s Top rated 100 movies’ data (i.e. Name, IMDB rating, Year of release)

In [5]:
page2= requests.get('https://www.imdb.com/list/ls091520106/')
soup2= BeautifulSoup(page2.content,'html.parser')

### Movie Name

In [6]:
movie= soup2.find_all('h3',class_="lister-item-header")

In [7]:
movie_titles=[]
for i in movie:
    for j in i.find_all("a"):
        movie_titles.append(j.text.replace("\n",""))
movie_titles

['The Shawshank Redemption',
 'The Godfather',
 'The Godfather: Part II',
 'The Dark Knight',
 '12 Angry Men',
 "Schindler's List",
 'The Lord of the Rings: The Return of the King',
 'Pulp Fiction',
 'Il buono, il brutto, il cattivo',
 'Fight Club',
 'Joker',
 'The Lord of the Rings: The Fellowship of the Ring',
 'Forrest Gump',
 'Inception',
 'Star Wars: Episode V - The Empire Strikes Back',
 'The Lord of the Rings: The Two Towers',
 'The Matrix',
 "One Flew Over the Cuckoo's Nest",
 'Goodfellas',
 'Shichinin no samurai',
 'Se7en',
 'Cidade de Deus',
 'La vita è bella',
 'The Silence of the Lambs',
 'Star Wars',
 "It's a Wonderful Life",
 'Saving Private Ryan',
 'Sen to Chihiro no kamikakushi',
 'The Green Mile',
 'Léon',
 'Seppuku',
 'Interstellar',
 'The Usual Suspects',
 'The Lion King',
 'American History X',
 'Back to the Future',
 'The Pianist',
 'Modern Times',
 'Terminator 2: Judgment Day',
 'The Intouchables',
 'Psycho',
 'Gladiator',
 'City Lights',
 'The Departed',
 'Whiplash',
 'Once Upon a Time in the West',
 'The Prestige',
 'Avengers: Endgame',
 'Casablanca',
 'Hotaru no haka',
 'Rear Window',
 'Nuovo Cinema Paradiso',
 'Alien',
 'Raiders of the Lost Ark',
 'Memento',
 'Apocalypse Now',
 'The Great Dictator',
 'The Lives of Others',
 'Avengers: Infinity War',
 'Django Unchained',
 'Spider-Man: Into the Spider-Verse',
 'The Shining',
 'Paths of Glory',
 'WALL·E',
 'Sunset Blvd.',
 'Dr. Strangelove or: How I Learned to Stop Worrying and Love the Bomb',
 'Mononoke-hime',
 'Oldeuboi',
 'Witness for the Prosecution',
 'The Dark Knight Rises',
 'Once Upon a Time in America',
 'Gisaengchung',
 'Aliens',
 'American Beauty',
 'Coco',
 'Kimi no na wa.',
 'Braveheart',
 'Das Boot',
 '3 Idiots',
 'Taare Zameen Par',
 'Star Wars: Episode VI - Return of the Jedi',
 'Toy Story',
 'Reservoir Dogs',
 'Amadeus',
 'Dangal',
 'Good Will Hunting',
 'Inglourious Basterds',
 'M - Eine Stadt sucht einen Mörder',
 'Requiem for a Dream',
 '2001: A Space Odyssey',
 'Vertigo',
 'Eternal Sunshine of the Spotless Mind',
 'Citizen Kane',
 'Full Metal Jacket',
 'Jagten',
 'North by Northwest',
 'A Clockwork Orange',
 'Snatch',
 'Amélie',
 'The Kid']

### IMDB rating

In [8]:
len(movie_titles)

100

In [9]:
imdb=soup2.find_all('div',class_="ipl-rating-star small")
imdb

[<div class="ipl-rating-star small">
 <span class="ipl-rating-star__star">
 <svg class="ipl-icon ipl-star-icon" fill="#000000" height="24" viewbox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
 <path d="M0 0h24v24H0z" fill="none"></path>
 <path d="M12 17.27L18.18 21l-1.64-7.03L22 9.24l-7.19-.61L12 2 9.19 8.63 2 9.24l5.46 4.73L5.82 21z"></path>
 <path d="M0 0h24v24H0z" fill="none"></path>
 </svg>
 </span>
 <span class="ipl-rating-star__rating">9.3</span>
 </div>,
 <div class="ipl-rating-star small">
 <span class="ipl-rating-star__star">
 <svg class="ipl-icon ipl-star-icon" fill="#000000" height="24" viewbox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
 <path d="M0 0h24v24H0z" fill="none"></path>
 <path d="M12 17.27L18.18 21l-1.64-7.03L22 9.24l-7.19-.61L12 2 9.19 8.63 2 9.24l5.46 4.73L5.82 21z"></path>
 <path d="M0 0h24v24H0z" fill="none"></path>
 </svg>
 </span>
 <span class="ipl-rating-star__rating">9.2</span>
 </div>,
 <div class="ipl-rating-star small">
 <span class="ipl-rating-star__star">
 <svg class="ipl-icon ipl-star-icon" fill="#000000" height="24" viewbox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
 <path d="M0 0h24v24H0z" fill="none"></path>
 <path d="M12 17.27L18.18 21l-1.64-7.03L22 9.24l-7.19-.61L12 2 9.19 8.63 2 9.24l5.46 4.73L5.82 21z"></path>
 <path d="M0 0h24v24H0z" fill="none"></path>
 </svg>
 </span>
 <span class="ipl-rating-star__rating">9</span>
 </div>,
 <div class="ipl-rating-star small">
 <span class="ipl-rating-star__star">
 <svg class="ipl-icon ipl-star-icon" fill="#000000" height="24" viewbox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
 <path d="M0 0h24v24H0z" fill="none"></path>
 <path d="M12 17.27L18.18 21l-1.64-7.03L22 9.24l-7.19-.61L12 2 9.19 8.63 2 9.24l5.46 4.73L5.82 21z"></path>
 <path d="M0 0h24v24H0z" fill="none"></path>
 </svg>
 </span>
 <span class="ipl-rating-star__rating">9</span>
 </div>,
 <div class="ipl-rating-star small">
 <span class="ipl-rating-star__star">
 <svg class="ipl-icon ipl-star-icon" fill="#000000" height="24" viewbox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
 <path d="M0 0h24v24H0z" fill="none"></path>
 <path d="M12 17.27L18.18 21l-1.64-7.03L22 9.24l-7.19-.61L12 2 9.19 8.63 2 9.24l5.46 4.73L5.82 21z"></path>
 <path d="M0 0h24v24H0z" fill="none"></path>
 </svg>
 </span>
 <span class="ipl-rating-star__rating">9</span>
 </div>,
 <div class="ipl-rating-star small">
 <span class="ipl-rating-star__star">
 <svg class="ipl-icon ipl-star-icon" fill="#000000" height="24" viewbox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
 <path d="M0 0h24v24H0z" fill="none"></path>
 <path d="M12 17.27L18.18 21l-1.64-7.03L22 9.24l-7.19-.61L12 2 9.19 8.63 2 9.24l5.46 4.73L5.82 21z"></path>
 <path d="M0 0h24v24H0z" fill="none"></path>
 </svg>
 </span>
 <span class="ipl-rating-star__rating">8.9</span>
 </div>,
 <div class="ipl-rating-star small">
 <span class="ipl-rating-star__star">
 <svg class="ipl-icon ipl-star-icon" fill="#000000" height="24" viewbox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
 <path d="M0 0h24v24H0z" fill="none"></path>
 <path d="M12 17.27L18.18 21l-1.64-7.03L22 9.24l-7.19-.61L12 2 9.19 8.63 2 9.24l5.46 4.73L5.82 21z"></path>
 <path d="M0 0h24v24H0z" fill="none"></path>
 </svg>
 </span>
 <span class="ipl-rating-star__rating">8.9</span>
 </div>,
 <div class="ipl-rating-star small">
 <span class="ipl-rating-star__star">
 <svg class="ipl-icon ipl-star-icon" fill="#000000" height="24" viewbox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
 <path d="M0 0h24v24H0z" fill="none"></path>
 <path d="M12 17.27L18.18 21l-1.64-7.03L22 9.24l-7.19-.61L12 2 9.19 8.63 2 9.24l5.46 4.73L5.82 21z"></path>
 <path d="M0 0h24v24H0z" fill="none"></path>
 </svg>
 </span>
 <span class="ipl-rating-star__rating">8.9</span>
 </div>,
 <div class="ipl-rating-star small">
 <span class="ipl-rating-star__star">
 <svg class="ipl-icon ipl-star-icon" fill="#000000" height="24" viewbox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
 <path d="M0 0h24v24H0z" fill="none"></path>
 <path d="M12 17.27L18.18 21l-1.64-7.03L22 9.24l-7.19-.61L12 2 9.19 8.63 2 9.24l5.46 4.73L5.82 21z"></path>
 <path d="M0 0h24v24H0z" fill="none"></path>
 </svg>
 </span>
 <span class="ipl-rating-star__rating">8.8</span>
 </div>,
 <div class="ipl-rating-star small">
 <span class="ipl-rating-star__star">
 <svg class="ipl-icon ipl-star-icon" fill="#000000" height="24" viewbox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
 <path d="M0 0h24v24H0z" fill="none"></path>
 <path d="M12 17.27L18.18 21l-1.64-7.03L22 9.24l-7.19-.61L12 2 9.19 8.63 2 9.24l5.46 4.73L5.82 21z"></path>
 <path d="M0 0h24v24H0z" fill="none"></path>
 </svg>
 </span>
 <span class="ipl-rating-star__rating">8.8</span>
 </div>,
 <div class="ipl-rating-star small">
 <span class="ipl-rating-star__star">
 <svg class="ipl-icon ipl-star-icon" fill="#000000" height="24" viewbox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
 <path d="M0 0h24v24H0z" fill="none"></path>
 <path d="M12 17.27L18.18 21l-1.64-7.03L22 9.24l-7.19-.61L12 2 9.19 8.63 2 9.24l5.46 4.73L5.82 21z"></path>
 <path d="M0 0h24v24H0z" fill="none"></path>
 </svg>
 </span>
 <span class="ipl-rating-star__rating">8.4</span>
 </div>,
 <div class="ipl-rating-star small">
 <span class="ipl-rating-star__star">
 <svg class="ipl-icon ipl-star-icon" fill="#000000" height="24" viewbox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
 <path d="M0 0h24v24H0z" fill="none"></path>
 <path d="M12 17.27L18.18 21l-1.64-7.03L22 9.24l-7.19-.61L12 2 9.19 8.63 2 9.24l5.46 4.73L5.82 21z"></path>
 <path d="M0 0h24v24H0z" fill="none"></path>
 </svg>
 </span>
 <span class="ipl-rating-star__rating">8.8</span>
 </div>,
 <div class="ipl-rating-star small">
 <span class="ipl-rating-star__star">
 <svg class="ipl-icon ipl-star-icon" fill="#000000" height="24" viewbox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
 <path d="M0 0h24v24H0z" fill="none"></path>
 <path d="M12 17.27L18.18 21l-1.64-7.03L22 9.24l-7.19-.61L12 2 9.19 8.63 2 9.24l5.46 4.73L5.82 21z"></path>
 <path d="M0 0h24v24H0z" fill="none"></path>
 </svg>
 </span>
 <span class="ipl-rating-star__rating">8.8</span>
 </div>,
 <div class="ipl-rating-star small">
 <span class="ipl-rating-star__star">
 <svg class="ipl-icon ipl-star-icon" fill="#000000" height="24" viewbox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
 <path d="M0 0h24v24H0z" fill="none"></path>
 <path d="M12 17.27L18.18 21l-1.64-7.03L22 9.24l-7.19-.61L12 2 9.19 8.63 2 9.24l5.46 4.73L5.82 21z"></path>
 <path d="M0 0h24v24H0z" fill="none"></path>
 </svg>
 </span>
 <span class="ipl-rating-star__rating">8.8</span>
 </div>,
 <div class="ipl-rating-star small">
 <span class="ipl-rating-star__star">
 <svg class="ipl-icon ipl-star-icon" fill="#000000" height="24" viewbox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
 <path d="M0 0h24v24H0z" fill="none"></path>
 <path d="M12 17.27L18.18 21l-1.64-7.03L22 9.24l-7.19-.61L12 2 9.19 8.63 2 9.24l5.46 4.73L5.82 21z"></path>
 <path d="M0 0h24v24H0z" fill="none"></path>
 </svg>
 </span>
 <span class="ipl-rating-star__rating">8.7</span>
 </div>,
 <div class="ipl-rating-star small">
 <span class="ipl-rating-star__star">
 <svg class="ipl-icon ipl-star-icon" fill="#000000" height="24" viewbox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
 <path d="M0 0h24v24H0z" fill="none"></path>
 <path d="M12 17.27L18.18 21l-1.64-7.03L22 9.24l-7.19-.61L12 2 9.19 8.63 2 9.24l5.46 4.73L5.82 21z"></path>
 <path d="M0 0h24v24H0z" fill="none"></path>
 </svg>
 </span>
 <span class="ipl-rating-star__rating">8.7</span>
 </div>,
 <div class="ipl-rating-star small">
 <span class="ipl-rating-star__star">
 <svg class="ipl-icon ipl-star-icon" fill="#000000" height="24" viewbox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
 <path d="M0 0h24v24H0z" fill="none"></path>
 <path d="M12 17.27L18.18 21l-1.64-7.03L22 9.24l-7.19-.61L12 2 9.19 8.63 2 9.24l5.46 4.73L5.82 21z"></path>
 <path d="M0 0h24v24H0z" fill="none"></path>
 </svg>
 </span>
 <span class="ipl-rating-star__rating">8.7</span>
 </div>,
 <div class="ipl-rating-star small">
 <span class="ipl-rating-star__star">
 <svg class="ipl-icon ipl-star-icon" fill="#000000" height="24" viewbox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
 <path d="M0 0h24v24H0z" fill="none"></path>
 <path d="M12 17.27L18.18 21l-1.64-7.03L22 9.24l-7.19-.61L12 2 9.19 8.63 2 9.24l5.46 4.73L5.82 21z"></path>
 <path d="M0 0h24v24H0z" fill="none"></path>
 </svg>
 </span>
 <span class="ipl-rating-star__rating">8.7</span>
 </div>,
 <div class="ipl-rating-star small">
 <span class="ipl-rating-star__star">
 <svg class="ipl-icon ipl-star-icon" fill="#000000" height="24" viewbox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
 <path d="M0 0h24v24H0z" fill="none"></path>
 <path d="M12 17.27L18.18 21l-1.64-7.03L22 9.24l-7.19-.61L12 2 9.19 8.63 2 9.24l5.46 4.73L5.82 21z"></path>
 <path d="M0 0h24v24H0z" fill="none"></path>
 </svg>
 </span>
 <span class="ipl-rating-star__rating">8.7</span>
 </div>,
 <div class="ipl-rating-star small">
 <span class="ipl-rating-star__star">
 <svg class="ipl-icon ipl-star-icon" fill="#000000" height="24" viewbox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
 <path d="M0 0h24v24H0z" fill="none"></path>
 <path d="M12 17.27L18.18 21l-1.64-7.03L22 9.24l-7.19-.61L12 2 9.19 8.63 2 9.24l5.46 4.73L5.82 21z"></path>
 <path d="M0 0h24v24H0z" fill="none"></path>
 </svg>
 </span>
 <span class="ipl-rating-star__rating">8.6</span>
 </div>,
 <div class="ipl-rating-star small">
 <span class="ipl-rating-star__star">
 <svg class="ipl-icon ipl-star-icon" fill="#000000" height="24" viewbox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
 <path d="M0 0h24v24H0z" fill="none"></path>
 <path d="M12 17.27L18.18 21l-1.64-7.03L22 9.24l-7.19-.61L12 2 9.19 8.63 2 9.24l5.46 4.73L5.82 21z"></path>
 <path d="M0 0h24v24H0z" fill="none"></path>
 </svg>
 </span>
 <span class="ipl-rating-star__rating">8.6</span>
 </div>,
 <div class="ipl-rating-star small">
 <span class="ipl-rating-star__star">
 <svg class="ipl-icon ipl-star-icon" fill="#000000" height="24" viewbox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
 <path d="M0 0h24v24H0z" fill="none"></path>
 <path d="M12 17.27L18.18 21l-1.64-7.03L22 9.24l-7.19-.61L12 2 9.19 8.63 2 9.24l5.46 4.73L5.82 21z"></path>
 <path d="M0 0h24v24H0z" fill="none"></path>
 </svg>
 </span>
 <span class="ipl-rating-star__rating">8.6</span>
 </div>,
 <div class="ipl-rating-star small">
 <span class="ipl-rating-star__star">
 <svg class="ipl-icon ipl-star-icon" fill="#000000" height="24" viewbox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
 <path d="M0 0h24v24H0z" fill="none"></path>
 <path d="M12 17.27L18.18 21l-1.64-7.03L22 9.24l-7.19-.61L12 2 9.19 8.63 2 9.24l5.46 4.73L5.82 21z"></path>
 <path d="M0 0h24v24H0z" fill="none"></path>
 </svg>
 </span>
 <span class="ipl-rating-star__rating">8.6</span>
 </div>,
 <div class="ipl-rating-star small">
 <span class="ipl-rating-star__star">
 <svg class="ipl-icon ipl-star-icon" fill="#000000" height="24" viewbox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
 <path d="M0 0h24v24H0z" fill="none"></path>
 <path d="M12 17.27L18.18 21l-1.64-7.03L22 9.24l-7.19-.61L12 2 9.19 8.63 2 9.24l5.46 4.73L5.82 21z"></path>
 <path d="M0 0h24v24H0z" fill="none"></path>
 </svg>
 </span>
 <span class="ipl-rating-star__rating">8.6</span>
 </div>,
 <div class="ipl-rating-star small">
 <span class="ipl-rating-star__star">
 <svg class="ipl-icon ipl-star-icon" fill="#000000" height="24" viewbox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
 <path d="M0 0h24v24H0z" fill="none"></path>
 <path d="M12 17.27L18.18 21l-1.64-7.03L22 9.24l-7.19-.61L12 2 9.19 8.63 2 9.24l5.46 4.73L5.82 21z"></path>
 <path d="M0 0h24v24H0z" fill="none"></path>
 </svg>
 </span>
 <span class="ipl-rating-star__rating">8.6</span>
 </div>,
 <div class="ipl-rating-star small">
 <span class="ipl-rating-star__star">
 <svg class="ipl-icon ipl-star-icon" fill="#000000" height="24" viewbox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
 <path d="M0 0h24v24H0z" fill="none"></path>
 <path d="M12 17.27L18.18 21l-1.64-7.03L22 9.24l-7.19-.61L12 2 9.19 8.63 2 9.24l5.46 4.73L5.82 21z"></path>
 <path d="M0 0h24v24H0z" fill="none"></path>
 </svg>
 </span>
 <span class="ipl-rating-star__rating">8.6</span>
 </div>,
 <div class="ipl-rating-star small">
 <span class="ipl-rating-star__star">
 <svg class="ipl-icon ipl-star-icon" fill="#000000" height="24" viewbox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
 <path d="M0 0h24v24H0z" fill="none"></path>
 <path d="M12 17.27L18.18 21l-1.64-7.03L22 9.24l-7.19-.61L12 2 9.19 8.63 2 9.24l5.46 4.73L5.82 21z"></path>
 <path d="M0 0h24v24H0z" fill="none"></path>
 </svg>
 </span>
 <span class="ipl-rating-star__rating">8.6</span>
 </div>,
 <div class="ipl-rating-star small">
 <span class="ipl-rating-star__star">
 <svg class="ipl-icon ipl-star-icon" fill="#000000" height="24" viewbox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
 <path d="M0 0h24v24H0z" fill="none"></path>
 <path d="M12 17.27L18.18 21l-1.64-7.03L22 9.24l-7.19-.61L12 2 9.19 8.63 2 9.24l5.46 4.73L5.82 21z"></path>
 <path d="M0 0h24v24H0z" fill="none"></path>
 </svg>
 </span>
 <span class="ipl-rating-star__rating">8.6</span>
 </div>,
 <div class="ipl-rating-star small">
 <span class="ipl-rating-star__star">
 <svg class="ipl-icon ipl-star-icon" fill="#000000" height="24" viewbox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
 <path d="M0 0h24v24H0z" fill="none"></path>
 <path d="M12 17.27L18.18 21l-1.64-7.03L22 9.24l-7.19-.61L12 2 9.19 8.63 2 9.24l5.46 4.73L5.82 21z"></path>
 <path d="M0 0h24v24H0z" fill="none"></path>
 </svg>
 </span>
 <span class="ipl-rating-star__rating">8.6</span>
 </div>,
 <div class="ipl-rating-star small">
 <span class="ipl-rating-star__star">
 <svg class="ipl-icon ipl-star-icon" fill="#000000" height="24" viewbox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
 <path d="M0 0h24v24H0z" fill="none"></path>
 <path d="M12 17.27L18.18 21l-1.64-7.03L22 9.24l-7.19-.61L12 2 9.19 8.63 2 9.24l5.46 4.73L5.82 21z"></path>
 <path d="M0 0h24v24H0z" fill="none"></path>
 </svg>
 </span>
 <span class="ipl-rating-star__rating">8.5</span>
 </div>,
 <div class="ipl-rating-star small">
 <span class="ipl-rating-star__star">
 <svg class="ipl-icon ipl-star-icon" fill="#000000" height="24" viewbox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
 <path d="M0 0h24v24H0z" fill="none"></path>
 <path d="M12 17.27L18.18 21l-1.64-7.03L22 9.24l-7.19-.61L12 2 9.19 8.63 2 9.24l5.46 4.73L5.82 21z"></path>
 <path d="M0 0h24v24H0z" fill="none"></path>
 </svg>
 </span>
 <span class="ipl-rating-star__rating">8.6</span>
 </div>,
 <div class="ipl-rating-star small">
 <span class="ipl-rating-star__star">
 <svg class="ipl-icon ipl-star-icon" fill="#000000" height="24" viewbox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
 <path d="M0 0h24v24H0z" fill="none"></path>
 <path d="M12 17.27L18.18 21l-1.64-7.03L22 9.24l-7.19-.61L12 2 9.19 8.63 2 9.24l5.46 4.73L5.82 21z"></path>
 <path d="M0 0h24v24H0z" fill="none"></path>
 </svg>
 </span>
 <span class="ipl-rating-star__rating">8.6</span>
 </div>,
 <div class="ipl-rating-star small">
 <span class="ipl-rating-star__star">
 <svg class="ipl-icon ipl-star-icon" fill="#000000" height="24" viewbox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
 <path d="M0 0h24v24H0z" fill="none"></path>
 <path d="M12 17.27L18.18 21l-1.64-7.03L22 9.24l-7.19-.61L12 2 9.19 8.63 2 9.24l5.46 4.73L5.82 21z"></path>
 <path d="M0 0h24v24H0z" fill="none"></path>
 </svg>
 </span>
 <span class="ipl-rating-star__rating">8.5</span>
 </div>,
 <div class="ipl-rating-star small">
 <span class="ipl-rating-star__star">
 <svg class="ipl-icon ipl-star-icon" fill="#000000" height="24" viewbox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
 <path d="M0 0h24v24H0z" fill="none"></path>
 <path d="M12 17.27L18.18 21l-1.64-7.03L22 9.24l-7.19-.61L12 2 9.19 8.63 2 9.24l5.46 4.73L5.82 21z"></path>
 <path d="M0 0h24v24H0z" fill="none"></path>
 </svg>
 </span>
 <span class="ipl-rating-star__rating">8.5</span>
 </div>,
 <div class="ipl-rating-star small">
 <span class="ipl-rating-star__star">
 <svg class="ipl-icon ipl-star-icon" fill="#000000" height="24" viewbox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
 <path d="M0 0h24v24H0z" fill="none"></path>
 <path d="M12 17.27L18.18 21l-1.64-7.03L22 9.24l-7.19-.61L12 2 9.19 8.63 2 9.24l5.46 4.73L5.82 21z"></path>
 <path d="M0 0h24v24H0z" fill="none"></path>
 </svg>
 </span>
 <span class="ipl-rating-star__rating">8.5</span>
 </div>,
 <div class="ipl-rating-star small">
 <span class="ipl-rating-star__star">
 <svg class="ipl-icon ipl-star-icon" fill="#000000" height="24" viewbox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
 <path d="M0 0h24v24H0z" fill="none"></path>
 <path d="M12 17.27L18.18 21l-1.64-7.03L22 9.24l-7.19-.61L12 2 9.19 8.63 2 9.24l5.46 4.73L5.82 21z"></path>
 <path d="M0 0h24v24H0z" fill="none"></path>
 </svg>
 </span>
 <span class="ipl-rating-star__rating">8.5</span>
 </div>,
 <div class="ipl-rating-star small">
 <span class="ipl-rating-star__star">
 <svg class="ipl-icon ipl-star-icon" fill="#000000" height="24" viewbox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
 <path d="M0 0h24v24H0z" fill="none"></path>
 <path d="M12 17.27L18.18 21l-1.64-7.03L22 9.24l-7.19-.61L12 2 9.19 8.63 2 9.24l5.46 4.73L5.82 21z"></path>
 <path d="M0 0h24v24H0z" fill="none"></path>
 </svg>
 </span>
 <span class="ipl-rating-star__rating">8.5</span>
 </div>,
 <div class="ipl-rating-star small">
 <span class="ipl-rating-star__star">
 <svg class="ipl-icon ipl-star-icon" fill="#000000" height="24" viewbox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
 <path d="M0 0h24v24H0z" fill="none"></path>
 <path d="M12 17.27L18.18 21l-1.64-7.03L22 9.24l-7.19-.61L12 2 9.19 8.63 2 9.24l5.46 4.73L5.82 21z"></path>
 <path d="M0 0h24v24H0z" fill="none"></path>
 </svg>
 </span>
 <span class="ipl-rating-star__rating">8.5</span>
 </div>,
 <div class="ipl-rating-star small">
 <span class="ipl-rating-star__star">
 <svg class="ipl-icon ipl-star-icon" fill="#000000" height="24" viewbox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
 <path d="M0 0h24v24H0z" fill="none"></path>
 <path d="M12 17.27L18.18 21l-1.64-7.03L22 9.24l-7.19-.61L12 2 9.19 8.63 2 9.24l5.46 4.73L5.82 21z"></path>
 <path d="M0 0h24v24H0z" fill="none"></path>
 </svg>
 </span>
 <span class="ipl-rating-star__rating">8.5</span>
 </div>,
 <div class="ipl-rating-star small">
 <span class="ipl-rating-star__star">
 <svg class="ipl-icon ipl-star-icon" fill="#000000" height="24" viewbox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
 <path d="M0 0h24v24H0z" fill="none"></path>
 <path d="M12 17.27L18.18 21l-1.64-7.03L22 9.24l-7.19-.61L12 2 9.19 8.63 2 9.24l5.46 4.73L5.82 21z"></path>
 <path d="M0 0h24v24H0z" fill="none"></path>
 </svg>
 </span>
 <span class="ipl-rating-star__rating">8.5</span>
 </div>,
 <div class="ipl-rating-star small">
 <span class="ipl-rating-star__star">
 <svg class="ipl-icon ipl-star-icon" fill="#000000" height="24" viewbox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
 <path d="M0 0h24v24H0z" fill="none"></path>
 <path d="M12 17.27L18.18 21l-1.64-7.03L22 9.24l-7.19-.61L12 2 9.19 8.63 2 9.24l5.46 4.73L5.82 21z"></path>
 <path d="M0 0h24v24H0z" fill="none"></path>
 </svg>
 </span>
 <span class="ipl-rating-star__rating">8.5</span>
 </div>,
 <div class="ipl-rating-star small">
 <span class="ipl-rating-star__star">
 <svg class="ipl-icon ipl-star-icon" fill="#000000" height="24" viewbox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
 <path d="M0 0h24v24H0z" fill="none"></path>

In [10]:
imdb_rating=[]
for i in imdb:
    imdb_rating.append(i.text.replace("\n",""))
imdb_rating

['9.3',
 '9.2',
 '9',
 '9',
 '9',
 '8.9',
 '8.9',
 '8.9',
 '8.8',
 '8.8',
 '8.4',
 '8.8',
 '8.8',
 '8.8',
 '8.7',
 '8.7',
 '8.7',
 '8.7',
 '8.7',
 '8.6',
 '8.6',
 '8.6',
 '8.6',
 '8.6',
 '8.6',
 '8.6',
 '8.6',
 '8.6',
 '8.6',
 '8.5',
 '8.6',
 '8.6',
 '8.5',
 '8.5',
 '8.5',
 '8.5',
 '8.5',
 '8.5',
 '8.5',
 '8.5',
 '8.5',
 '8.5',
 '8.5',
 '8.5',
 '8.5',
 '8.5',
 '8.5',
 '8.4',
 '8.5',
 '8.5',
 '8.5',
 '8.5',
 '8.4',
 '8.4',
 '8.4',
 '8.4',
 '8.4',
 '8.4',
 '8.4',
 '8.4',
 '8.4',
 '8.4',
 '8.4',
 '8.4',
 '8.4',
 '8.4',
 '8.4',
 '8.4',
 '8.4',
 '8.4',
 '8.4',
 '8.6',
 '8.3',
 '8.3',
 '8.4',
 '8.4',
 '8.3',
 '8.3',
 '8.4',
 '8.4',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.4',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3']

### Year of release

In [11]:
year=soup2.find_all('span',class_="lister-item-year text-muted unbold")

In [12]:
year_release=[]
for i in year:
    year_release.append(i.text.replace("\n",''))
year_release

['(1994)',
 '(1972)',
 '(1974)',
 '(2008)',
 '(1957)',
 '(1993)',
 '(2003)',
 '(1994)',
 '(1966)',
 '(1999)',
 '(2019)',
 '(2001)',
 '(1994)',
 '(2010)',
 '(1980)',
 '(2002)',
 '(1999)',
 '(1975)',
 '(1990)',
 '(1954)',
 '(1995)',
 '(2002)',
 '(1997)',
 '(1991)',
 '(1977)',
 '(1946)',
 '(1998)',
 '(2001)',
 '(1999)',
 '(1994)',
 '(1962)',
 '(2014)',
 '(1995)',
 '(1994)',
 '(1998)',
 '(1985)',
 '(2002)',
 '(1936)',
 '(1991)',
 '(2011)',
 '(1960)',
 '(2000)',
 '(1931)',
 '(2006)',
 '(2014)',
 '(1968)',
 '(2006)',
 '(2019)',
 '(1942)',
 '(1988)',
 '(1954)',
 '(1988)',
 '(1979)',
 '(1981)',
 '(2000)',
 '(1979)',
 '(1940)',
 '(2006)',
 '(2018)',
 '(2012)',
 '(2018)',
 '(1980)',
 '(1957)',
 '(2008)',
 '(1950)',
 '(1964)',
 '(1997)',
 '(2003)',
 '(1957)',
 '(2012)',
 '(1984)',
 '(2019)',
 '(1986)',
 '(1999)',
 '(I) (2017)',
 '(2016)',
 '(1995)',
 '(1981)',
 '(2009)',
 '(2007)',
 '(1983)',
 '(1995)',
 '(1992)',
 '(1984)',
 '(2016)',
 '(1997)',
 '(2009)',
 '(1931)',
 '(2000)',
 '(1968)',
 '(1958)',
 '(2004)',
 '(1941)',
 '(1987)',
 '(2012)',
 '(1959)',
 '(1971)',
 '(2000)',
 '(2001)',
 '(1921)']

In [13]:
import re
Releases = []
for i in range(0,len(year_release)):
    release = re.sub("[()]", "", year_release[i])
    Releases.append(release)
    
Releases

['1994',
 '1972',
 '1974',
 '2008',
 '1957',
 '1993',
 '2003',
 '1994',
 '1966',
 '1999',
 '2019',
 '2001',
 '1994',
 '2010',
 '1980',
 '2002',
 '1999',
 '1975',
 '1990',
 '1954',
 '1995',
 '2002',
 '1997',
 '1991',
 '1977',
 '1946',
 '1998',
 '2001',
 '1999',
 '1994',
 '1962',
 '2014',
 '1995',
 '1994',
 '1998',
 '1985',
 '2002',
 '1936',
 '1991',
 '2011',
 '1960',
 '2000',
 '1931',
 '2006',
 '2014',
 '1968',
 '2006',
 '2019',
 '1942',
 '1988',
 '1954',
 '1988',
 '1979',
 '1981',
 '2000',
 '1979',
 '1940',
 '2006',
 '2018',
 '2012',
 '2018',
 '1980',
 '1957',
 '2008',
 '1950',
 '1964',
 '1997',
 '2003',
 '1957',
 '2012',
 '1984',
 '2019',
 '1986',
 '1999',
 'I 2017',
 '2016',
 '1995',
 '1981',
 '2009',
 '2007',
 '1983',
 '1995',
 '1992',
 '1984',
 '2016',
 '1997',
 '2009',
 '1931',
 '2000',
 '1968',
 '1958',
 '2004',
 '1941',
 '1987',
 '2012',
 '1959',
 '1971',
 '2000',
 '2001',
 '1921']

In [14]:
movies=pd.DataFrame({})
movies['Names']=movie_titles
movies['IMDB rating']=imdb_rating
movies['Year of release']=Releases

In [15]:
movies

                       Names IMDB rating Year of release
0   The Shawshank Redemption         9.3            1994
1              The Godfather         9.2            1972
2     The Godfather: Part II           9            1974
3            The Dark Knight           9            2008
4               12 Angry Men           9            1957
..                       ...         ...             ...
95        North by Northwest         8.3            1959
96        A Clockwork Orange         8.3            1971
97                    Snatch         8.3            2000
98                    Amélie         8.3            2001
99                   The Kid         8.3            1921

[100 rows x 3 columns]

# 3. Display IMDB’s Top rated 100 Indian movies’ data (i.e. Name, IMDB rating, Year of release)

In [16]:
page3= requests.get('https://www.imdb.com/list/ls009997493/?sort=user_rating,desc&st_dt=&mode=detail&page=1')
soup3= BeautifulSoup(page3.content,'html.parser')

### Movies

In [17]:
movie= soup3.find_all('h3',class_="lister-item-header")
movie_titles=[]
for i in movie:
    for j in i.find_all("a"):
        movie_titles.append(j.text.replace("\n",""))
movie_titles

['Black Friday',
 'Golmaal',
 '3 Idiots',
 'Taare Zameen Par',
 'Pyaasa',
 'Jaane Bhi Do Yaaro',
 'Masoom',
 'Guide',
 'Anand',
 'Khosla Ka Ghosla!',
 'Chhoti Si Baat',
 'Chupke Chupke',
 'Angoor',
 'Gangs of Wasseypur',
 'Zindagi Na Milegi Dobara',
 'Swades: We, the People',
 'Hera Pheri',
 'Paan Singh Tomar',
 'Chak De! India',
 'Bhaag Milkha Bhaag',
 'Jo Jeeta Wohi Sikandar',
 'Sholay',
 'Satya',
 'Black',
 'Mughal-E-Azam',
 'Lagaan: Once Upon a Time in India',
 'Dil Chahta Hai',
 'Kahaani',
 'Munna Bhai M.B.B.S.',
 'Dilwale Dulhania Le Jayenge',
 'Rang De Basanti',
 'Barfi!',
 'Andaz Apna Apna',
 'A Wednesday',
 'Omkara',
 'Udaan',
 'Maqbool',
 'OMG: Oh My God!',
 'Gulaal',
 'Sarfarosh',
 'Deewaar',
 'The Legend of Bhagat Singh',
 'Iqbal',
 'Padosan',
 'My Name Is Khan',
 'Special Chabbis',
 'Dev.D',
 'Lage Raho Munna Bhai',
 'Vaastav: The Reality',
 'Salaam Bombay!',
 'Mother India',
 'Pinjar: Beyond Boundaries...',
 'Bawarchi',
 'Shree 420',
 'Kal Ho Naa Ho',
 'Jab We Met',
 'Lakshya',
 'Hey Ram',
 'Company',
 'Awaara',
 'Hazaaron Khwaishein Aisi',
 'Zakhm',
 'Dor',
 'Abhimaan',
 'The Lunchbox',
 'Kai po che!',
 'Vicky Donor',
 'Johnny Gaddaar',
 'Mr. India',
 'Parinda',
 'English Vinglish',
 'Stanley Ka Dabba',
 'Don',
 'Ab Tak Chhappan',
 'Gangaajal',
 '3 Deewarein',
 'Dasvidaniya',
 'Madras Cafe',
 'Oye Lucky! Lucky Oye!',
 'Water',
 'Shatranj Ke Khilari',
 'Guru',
 'Rock On!!',
 'Earth',
 'Mumbai Meri Jaan',
 'Aamir',
 'Agneepath',
 'Delhi Belly',
 'Wake Up Sid',
 'Manorama: Six Feet Under',
 'Raanjhanaa',
 'Sarkar',
 'Pyaar Ka Punchnama',
 'Bheja Fry',
 'Jaane Tu... Ya Jaane Na',
 'Ek Hasina Thi',
 'Rangeela',
 'Qayamat Se Qayamat Tak',
 'Socha Na Tha',
 'Gunda']

### IMDB rating

In [18]:
imdb=soup3.find_all('div',class_="ipl-rating-star small")
imdb_rating=[]
for i in imdb:
    imdb_rating.append(i.text.replace("\n",""))
imdb_rating

['8.5',
 '8.5',
 '8.4',
 '8.4',
 '8.4',
 '8.4',
 '8.4',
 '8.4',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8',
 '8',
 '8',
 '8',
 '8',
 '8',
 '8',
 '8',
 '8',
 '8',
 '7.9',
 '7.9',
 '7.9',
 '7.9',
 '7.9',
 '7.9',
 '7.9',
 '7.9',
 '7.9',
 '7.9',
 '7.8',
 '7.8',
 '7.8',
 '7.8',
 '7.8',
 '7.8',
 '7.8',
 '7.8',
 '7.8',
 '7.8',
 '7.8',
 '7.8',
 '7.8',
 '7.7',
 '7.7',
 '7.7',
 '7.7',
 '7.7',
 '7.7',
 '7.7',
 '7.7',
 '7.7',
 '7.7',
 '7.6',
 '7.6',
 '7.6',
 '7.6',
 '7.6',
 '7.6',
 '7.6',
 '7.5',
 '7.5',
 '7.5',
 '7.5',
 '7.4',
 '7.3']

### Year

In [19]:
year=soup3.find_all('span',class_="lister-item-year text-muted unbold")
year_release=[]
for i in year:
    year_release.append(i.text.replace("\n",''))
year_release

['(2004)',
 '(1979)',
 '(2009)',
 '(2007)',
 '(1957)',
 '(1983)',
 '(1983)',
 '(1965)',
 '(1971)',
 '(2006)',
 '(1976)',
 '(1975)',
 '(1982)',
 '(2012)',
 '(2011)',
 '(2004)',
 '(2000)',
 '(2012)',
 '(2007)',
 '(2013)',
 '(1992)',
 '(1975)',
 '(1998)',
 '(2005)',
 '(1960)',
 '(2001)',
 '(2001)',
 '(2012)',
 '(2003)',
 '(1995)',
 '(2006)',
 '(2012)',
 '(1994)',
 '(2008)',
 '(2006)',
 '(2010)',
 '(2003)',
 '(2012)',
 '(2009)',
 '(1999)',
 '(1975)',
 '(2002)',
 '(2005)',
 '(1968)',
 '(2010)',
 '(2013)',
 '(2009)',
 '(2006)',
 '(1999)',
 '(1988)',
 '(1957)',
 '(2003)',
 '(1972)',
 '(1955)',
 '(2003)',
 '(2007)',
 '(2004)',
 '(2000)',
 '(2002)',
 '(1951)',
 '(2003)',
 '(1998)',
 '(2006)',
 '(1973)',
 '(2013)',
 '(2013)',
 '(2012)',
 '(2007)',
 '(1987)',
 '(1989)',
 '(2012)',
 '(2011)',
 '(1978)',
 '(2004)',
 '(2003)',
 '(2003)',
 '(2008)',
 '(2013)',
 '(2008)',
 '(I) (2005)',
 '(1977)',
 '(2007)',
 '(2008)',
 '(1998)',
 '(2008)',
 '(2008)',
 '(1990)',
 '(2011)',
 '(2009)',
 '(2007)',
 '(2013)',
 '(2005)',
 '(2011)',
 '(2007)',
 '(2008)',
 '(2004)',
 '(1995)',
 '(1988)',
 '(2005)',
 '(1998)']

In [20]:
import re
Release = []
for i in range(0,len(year_release)):
    release = re.sub("[()]", "", year_release[i])
    Release.append(release)
    
Releases

['1994',
 '1972',
 '1974',
 '2008',
 '1957',
 '1993',
 '2003',
 '1994',
 '1966',
 '1999',
 '2019',
 '2001',
 '1994',
 '2010',
 '1980',
 '2002',
 '1999',
 '1975',
 '1990',
 '1954',
 '1995',
 '2002',
 '1997',
 '1991',
 '1977',
 '1946',
 '1998',
 '2001',
 '1999',
 '1994',
 '1962',
 '2014',
 '1995',
 '1994',
 '1998',
 '1985',
 '2002',
 '1936',
 '1991',
 '2011',
 '1960',
 '2000',
 '1931',
 '2006',
 '2014',
 '1968',
 '2006',
 '2019',
 '1942',
 '1988',
 '1954',
 '1988',
 '1979',
 '1981',
 '2000',
 '1979',
 '1940',
 '2006',
 '2018',
 '2012',
 '2018',
 '1980',
 '1957',
 '2008',
 '1950',
 '1964',
 '1997',
 '2003',
 '1957',
 '2012',
 '1984',
 '2019',
 '1986',
 '1999',
 'I 2017',
 '2016',
 '1995',
 '1981',
 '2009',
 '2007',
 '1983',
 '1995',
 '1992',
 '1984',
 '2016',
 '1997',
 '2009',
 '1931',
 '2000',
 '1968',
 '1958',
 '2004',
 '1941',
 '1987',
 '2012',
 '1959',
 '1971',
 '2000',
 '2001',
 '1921']

In [21]:
movies_ind=pd.DataFrame({})
movies_ind['Names']=movie_titles
movies_ind['IMDB rating']=imdb_rating
movies_ind['Year of release']=Release

In [22]:
movies_ind

                     Names IMDB rating Year of release
0             Black Friday         8.5            2004
1                  Golmaal         8.5            1979
2                 3 Idiots         8.4            2009
3         Taare Zameen Par         8.4            2007
4                   Pyaasa         8.4            1957
..                     ...         ...             ...
95           Ek Hasina Thi         7.5            2004
96                Rangeela         7.5            1995
97  Qayamat Se Qayamat Tak         7.5            1988
98            Socha Na Tha         7.4            2005
99                   Gunda         7.3            1998

[100 rows x 3 columns]

# 4. program to scrap book name, author name, genre and book review of any 5 books from ‘www.bookpage.com’

In [23]:
page4= requests.get('https://bookpage.com/reviews')
soup4= BeautifulSoup(page4.content,'html.parser')
import re

In [24]:
name= soup4.find_all('h4',class_="italic")
name_titles=[]
for i in name:
    name_titles.append(i.text.replace('★',""))

name_titles[:5]

['\n  The Ugly Cry\n',
 '\n  Indestructible Object\n',
 '\n  How the Word Is Passed\n',
 '\n  Seven Days in June\n',
 '\n  The Other Black Girl\n']

In [25]:
title_name =[]
for i in range(0,len(name_titles)):
    book_title = re.sub("\n", "", name_titles[i])
    title_name.append(book_title)
    
title_name[:5]

['  The Ugly Cry',
 '  Indestructible Object',
 '  How the Word Is Passed',
 '  Seven Days in June',
 '  The Other Black Girl']

### Author name

In [26]:
author=soup4.find_all('p',class_="sans bold")
auth_name=[]
for i in author:
    auth_name.append(i.text.replace("\n",''))
auth_name[:5]

['Danielle Henderson',
 'Mary McCoy',
 'Clint Smith',
 'Tia Williams',
 'Zakiya Dalila Harris']

###  genre

In [27]:
genre=soup4.find_all('p',class_="genre-links hidden-phone")
genre_type=[]
for i in genre:
    genre_type.append(i.text.replace("\n",''))
genre_type[:5]

['Nonfiction / Memoir',
 'YA / YA Fiction',
 'Nonfiction / American History / African American History',
 'Romance / Contemporary Romance',
 'Fiction / Literary Fiction']

### book review

In [28]:
review=soup4.find_all('div',class_="flex-article-content")
book_review=[]
for i in review:
    book_review.append(i.text.replace('★',"").replace('\n',''))

book_review[:5]

['  The Ugly CryDanielle HendersonNonfiction / MemoirDanielle Henderson brings her family to life using humor as quick and sharp as the violence she survived as a child.Read the Review ',
 '  Indestructible ObjectMary McCoyYA / YA FictionWith her parents’ looming divorce echoing her own fractured love story, Lee can’t help but wonder whether falling in love is ever worth the risk of falling out of it. Could a series of mysterious objects Lee discovers in her parents’ study hold the answer?Read the Review ',
 "  How the Word Is PassedClint SmithNonfiction / American History / African American HistoryClint Smith's gifts as both a poet and a scholar make How the Word Is Passed a richly provocative read.Read the Review ",
 '  Seven Days in JuneTia WilliamsRomance / Contemporary RomanceReaders will feel as attached to Tia Williams’ characters as Eva and Shane are to each other.Read the Review ',
 '  The Other Black GirlZakiya Dalila HarrisFiction / Literary FictionBrilliantly positioned at the intersection of satire and social horror, Zakiya Dalila Harris’ debut novel is a genre-bending creative triumph.Read the Review ']

In [29]:
books=pd.DataFrame({})
books['Book Name']=title_name[:5]
books['Author Name']=auth_name[:5]
books['Genre']=genre_type[:5]
books['Book review']=book_review[:5]

In [30]:
books

,Book Name,Author Name,Genre,Book review
0,The Ugly Cry,Danielle Henderson,Nonfiction / Memoir,The Ugly CryDanielle HendersonNonfiction / M...
1,Indestructible Object,Mary McCoy,YA / YA Fiction,Indestructible ObjectMary McCoyYA / YA Ficti...
2,How the Word Is Passed,Clint Smith,Nonfiction / American History / African Americ...,How the Word Is PassedClint SmithNonfiction ...
3,Seven Days in June,Tia Williams,Romance / Contemporary Romance,Seven Days in JuneTia WilliamsRomance / Cont...
4,The Other Black Girl,Zakiya Dalila Harris,Fiction / Literary Fiction,The Other Black GirlZakiya Dalila HarrisFict...

# 5.  python program to scrape cricket rankings from ‘www.icc-cricket.com’.

In [31]:
page5= requests.get('https://www.icc-cricket.com/rankings/mens/team-rankings/odi')
soup5= BeautifulSoup(page5.content,'html.parser')
import re

### (i) Top 10 ODI teams in men’s cricket along with the records for matches, points and rating.

#### Team

In [32]:
Team=soup5.find_all('span',class_="u-hide-phablet")
team_review=[]
for i in Team:
    team_review.append(i.text.replace("\n",''))
team_review[:10]

['New Zealand',
 'Australia',
 'India',
 'England',
 'South Africa',
 'Pakistan',
 'Bangladesh',
 'West Indies',
 'Sri Lanka',
 'Afghanistan']

#### matches & points

In [33]:
new=soup5.find('td',class_='rankings-block__banner--matches')
new2= soup5.find('td',class_='rankings-block__banner--points')

In [34]:
new_list=soup5.find_all('td',class_="table-body__cell u-center-text")


matches=[]
points=[]
matches.append(new)
points.append(new2)
for i in range(0,len(new_list)-1,2):
    
    matches.append(new_list[i]) 
    points.append(new_list[i+1])

In [35]:
#Matches
match=[]
for i in matches:
    match.append(i.text.replace("\n",''))
match[:10]

['17', '25', '29', '27', '20', '24', '27', '27', '24', '17']

In [36]:
#Point
point=[]
for i in points:
    point.append(i.text.replace("\n",''))
point[:10]

['2,054',
 '2,945',
 '3,344',
 '3,100',
 '2,137',
 '2,323',
 '2,438',
 '2,222',
 '1,876',
 '1,054']

#### Ratings

In [37]:
new3=soup5.find('td',class_='rankings-block__banner--rating u-text-right')
rating=soup5.find_all('td',class_="table-body__cell u-text-right rating")
rate=[]
rate.append(new3)
for i in range(0,len(rating)-1,2):
    rate.append(rating[i])
rates=[]
for i in rate:
    rates.append(i.text.replace("\n",'').strip())
rates[:10]

['121', '118', '115', '97', '82', '62', '40', '37', '24', '16']

In [38]:
rates=[]
for i in rate:
    rates.append(i.text.replace("\n",'').strip())
rates[:10]

['121', '118', '115', '97', '82', '62', '40', '37', '24', '16']

#### Dataframe

In [39]:
Team=pd.DataFrame({})
Team['Team']=team_review[:10]
Team['Matches']=match[:10]
Team['Points']=point[:10]
Team['Rating']=rates[:10]

In [40]:
pos= pd.Index(range(1, 11, 1))

In [41]:
Team = Team.set_index(pos)

In [42]:
Team

            Team Matches Points Rating
1    New Zealand      17  2,054    121
2      Australia      25  2,945    118
3          India      29  3,344    115
4        England      27  3,100     97
5   South Africa      20  2,137     82
6       Pakistan      24  2,323     62
7     Bangladesh      27  2,438     40
8    West Indies      27  2,222     37
9      Sri Lanka      24  1,876     24
10   Afghanistan      17  1,054     16

## ii) Top 10 ODI Batsmen in men along with the records of their team and rating.

In [43]:
page6= requests.get('https://www.icc-cricket.com/rankings/mens/player-rankings/odi/batting')
soup6= BeautifulSoup(page6.content,'html.parser')
import re

#### Players name

In [44]:
list1= soup6.find('div',class_='rankings-block__banner--name-large')
list1

In [45]:
p_name=soup6.find_all('td',class_="table-body__cell rankings-table__name name")
player=[]
player.append(list1)
for i in range(0,len(p_name)):
        player.append(p_name[i])

In [46]:
name=[]
for i in player:
      name.append(i.text.replace("\n",""))
name

['Babar Azam',
 'Virat Kohli',
 'Rohit Sharma',
 'Ross Taylor',
 'Aaron Finch',
 'Jonny Bairstow',
 'Fakhar Zaman',
 'Francois du Plessis',
 'David Warner',
 'Shai Hope',
 'Quinton de Kock',
 'Kane Williamson',
 'Imam-ul-Haq',
 'Mushfiqur Rahim',
 'Joe Root',
 'Steve Smith',
 'Martin Guptill',
 'Shikhar Dhawan',
 'Jason Roy',
 'Glenn Maxwell',
 'Paul Stirling',
 'Rassie van der Dussen',
 'Usman Khawaja',
 'Ben Stokes',
 'Tamim Iqbal',
 'Eoin Morgan',
 'Lokesh Rahul',
 'Alex Carey',
 'David Miller',
 'Shimron Hetmyer',
 'Shakib Al Hasan',
 'Jos Buttler',
 'Tom Latham',
 'Nicholas Pooran',
 'Haris Sohail',
 'Mahmudullah',
 'Henry Nicholls',
 'Aqib Ilyas',
 'Kyle Coetzer',
 'Brendan Taylor',
 'Angelo Mathews',
 'Kusal Perera',
 'Hardik Pandya',
 'Sean Williams',
 'Kedar Jadhav',
 'Evin Lewis',
 'Rahmat Shah',
 'Danushka Gunathilaka',
 'Mohammad Hafeez',
 'Kusal Mendis',
 'Andrew Balbirnie',
 'Sikandar Raza',
 'Litton Das',
 'Imad Wasim',
 'Soumya Sarkar',
 'Marcus Stoinis',
 'Mohammad Shahzad',
 'Niroshan Dickwella',
 'Sarfaraz Ahmed',
 'Calum MacLeod',
 'Colin de Grandhomme',
 'Najibullah Zadran',
 'Marnus Labuschagne',
 'Chris Gayle',
 'Hashmatullah Shaidi',
 'Avishka Fernando',
 'Jimmy Neesham',
 'Shaun Marsh',
 "Kevin O'Brien",
 'Mohammad Nabi',
 'Mitchell Marsh',
 'Peter Handscomb',
 'Shreyas Iyer',
 'Asghar Afghan',
 'Richard Berrington',
 'William Porterfield',
 'Muhammad Usman',
 'Colin Munro',
 'Craig Ervine',
 'Mitchell Santner',
 'Heinrich Klaasen',
 'Aiden Markram',
 'Andile Phehlukwayo',
 'Lahiru Thirimanne',
 'Dhananjaya de Silva',
 'Jason Holder',
 'Temba Bavuma',
 'Assad Vala',
 'Ravindra Jadeja',
 'Sabbir Rahman',
 'Mithun Ali',
 'Rishabh Pant',
 'Rashid Khan',
 'George Munsey',
 'Dinesh Chandimal',
 'Rovman Powell',
 'Tony Ura',
 'Gulbadin Naib',
 'Chris Woakes',
 'Sam Billings']

#### Team

In [47]:
list2= soup6.find('div',class_='rankings-block__banner--nationality')
list2

<div class="rankings-block__banner--nationality">
<div class="flag-15 PAK"></div>
<span class="rankings-block__banner--nation"></span>PAK
</div>

In [48]:
t_name=soup6.find_all('span',class_="table-body__logo-text")
team=[]
team.append(list2)
for i in range(0,len(t_name)):
        team.append(t_name[i])

In [49]:
team_name=[]
for i in team:
    team_name.append(i.text.replace("\n",""))
team_name

['PAK',
 'IND',
 'IND',
 'NZ',
 'AUS',
 'ENG',
 'PAK',
 'SA',
 'AUS',
 'WI',
 'SA',
 'NZ',
 'PAK',
 'BAN',
 'ENG',
 'AUS',
 'NZ',
 'IND',
 'ENG',
 'AUS',
 'IRE',
 'SA',
 'AUS',
 'ENG',
 'BAN',
 'ENG',
 'IND',
 'AUS',
 'SA',
 'WI',
 'BAN',
 'ENG',
 'NZ',
 'WI',
 'PAK',
 'BAN',
 'NZ',
 'OMA',
 'SCO',
 'ZIM',
 'SL',
 'SL',
 'IND',
 'ZIM',
 'IND',
 'WI',
 'AFG',
 'SL',
 'PAK',
 'SL',
 'IRE',
 'ZIM',
 'BAN',
 'PAK',
 'BAN',
 'AUS',
 'AFG',
 'SL',
 'PAK',
 'SCO',
 'NZ',
 'AFG',
 'AUS',
 'WI',
 'AFG',
 'SL',
 'NZ',
 'AUS',
 'IRE',
 'AFG',
 'AUS',
 'AUS',
 'IND',
 'AFG',
 'SCO',
 'IRE',
 'UAE',
 'NZ',
 'ZIM',
 'NZ',
 'SA',
 'SA',
 'SA',
 'SL',
 'SL',
 'WI',
 'SA',
 'PNG',
 'IND',
 'BAN',
 'BAN',
 'IND',
 'AFG',
 'SCO',
 'SL',
 'WI',
 'PNG',
 'AFG',
 'ENG',
 'ENG']

#### RATING

In [50]:
list3=soup6.find('div',class_='rankings-block__banner--rating')

In [51]:
rating=soup6.find_all('td',class_='table-body__cell rating')
rate=[]
rate.append(list3)
for i in range(0,len(rating)):
    rate.append(rating[i])

In [52]:
Rating=[]
for i in rate:
    Rating.append(i.text.replace("\n",""))
Rating[:10]

['865', '857', '825', '801', '791', '785', '778', '778', '773', '773']

In [53]:
Playerm=pd.DataFrame({})
Playerm['Player']=name[:10]
Playerm['Team']=team_name[:10]
Playerm['Rating']=Rating[:10]

In [54]:
pos= pd.Index(range(1, 11, 1))
Playerm = Playerm.set_index(pos)
Playerm

                 Player Team Rating
1            Babar Azam  PAK    865
2           Virat Kohli  IND    857
3          Rohit Sharma  IND    825
4           Ross Taylor   NZ    801
5           Aaron Finch  AUS    791
6        Jonny Bairstow  ENG    785
7          Fakhar Zaman  PAK    778
8   Francois du Plessis   SA    778
9          David Warner  AUS    773
10            Shai Hope   WI    773

### iii) Top 10 ODI bowlers along with the records of their team and rating.

In [55]:
page7= requests.get('https://www.icc-cricket.com/rankings/mens/player-rankings/odi/bowling')
soup7= BeautifulSoup(page7.content,'html.parser')
import re

##### Player

In [56]:
list1= soup7.find('div',class_='rankings-block__banner--name-large')
p_name=soup7.find_all('td',class_="table-body__cell rankings-table__name name")
player=[]
player.append(list1)
for i in range(0,len(p_name)):
        player.append(p_name[i])
name=[]
for i in player:
      name.append(i.text.replace("\n",""))
name[:10]

['Trent Boult',
 'Mehedi Hasan',
 'Mujeeb Ur Rahman',
 'Matt Henry',
 'Jasprit Bumrah',
 'Kagiso Rabada',
 'Chris Woakes',
 'Josh Hazlewood',
 'Pat Cummins',
 'Mustafizur Rahman']

##### Team

In [57]:
list2= soup7.find('div',class_='rankings-block__banner--nationality')
t_name=soup7.find_all('span',class_="table-body__logo-text")
team=[]
team.append(list2)
for i in range(0,len(t_name)):
        team.append(t_name[i])

team_name=[]
for i in team:
    team_name.append(i.text.replace("\n",""))
team_name[:10]

['NZ', 'BAN', 'AFG', 'NZ', 'IND', 'SA', 'ENG', 'AUS', 'AUS', 'BAN']

##### Rating

In [58]:
list3=soup7.find('div',class_='rankings-block__banner--rating')
rating=soup7.find_all('td',class_='table-body__cell rating')
rate=[]
rate.append(list3)
for i in range(0,len(rating)):
    rate.append(rating[i])
Rating=[]
for i in rate:
    Rating.append(i.text.replace("\n",""))
Rating[:10]

['737', '713', '708', '691', '690', '666', '665', '660', '646', '645']

In [59]:
Player=pd.DataFrame({})
Player['Player']=name[:10]
Player['Team']=team_name[:10]
Player['Rating']=Rating[:10]

In [60]:
pos= pd.Index(range(1, 11, 1))
Player = Player.set_index(pos)
Player

               Player Team Rating
1         Trent Boult   NZ    737
2        Mehedi Hasan  BAN    713
3    Mujeeb Ur Rahman  AFG    708
4          Matt Henry   NZ    691
5      Jasprit Bumrah  IND    690
6       Kagiso Rabada   SA    666
7        Chris Woakes  ENG    665
8      Josh Hazlewood  AUS    660
9         Pat Cummins  AUS    646
10  Mustafizur Rahman  BAN    645

## 6. Program to scrape cricket rankings from ‘www.icc-cricket.com’.

#####  i) Top 10 ODI teams in women’s cricket along with the records for matches, points and rating.

In [61]:
page8= requests.get('https://www.icc-cricket.com/rankings/womens/team-rankings/odi')
soup8= BeautifulSoup(page8.content,'html.parser')
import re

##### Team Name

In [62]:
Team=soup8.find_all('span',class_="u-hide-phablet")
team_review=[]
for i in Team:
    team_review.append(i.text.replace("\n",''))
team_review[:10]

['Australia',
 'South Africa',
 'England',
 'India',
 'New Zealand',
 'West Indies',
 'Pakistan',
 'Bangladesh',
 'Sri Lanka',
 'Ireland']

##### matches & points

In [63]:
new=soup8.find('td',class_='rankings-block__banner--matches')
new2= soup8.find('td',class_='rankings-block__banner--points')
new_list=soup8.find_all('td',class_="table-body__cell u-center-text")

#matches and points
matches=[]
points=[]
matches.append(new)
points.append(new2)
for i in range(0,len(new_list)-1,2):
    
    matches.append(new_list[i]) 
    points.append(new_list[i+1])

In [64]:
#Matches
match=[]
for i in matches:
    match.append(i.text.replace("\n",''))
match[:10]

['18', '24', '17', '20', '21', '12', '15', '5', '11', '2']

In [65]:
#points
point=[]
for i in points:
    point.append(i.text.replace("\n",''))
point[:10]

['2,955',
 '2,828',
 '1,993',
 '2,226',
 '1,947',
 '1,025',
 '1,101',
 '306',
 '519',
 '25']

#####  Rating

In [66]:
new3=soup8.find('td',class_='rankings-block__banner--rating u-text-right')
rating=soup8.find_all('td',class_="table-body__cell u-text-right rating")
rate=[]
rate.append(new3)
for i in range(0,len(rating)):
    rate.append(rating[i])
rates=[]
for i in rate:
    rates.append(i.text.replace("\n",'').strip())
rates[:10]

['164', '118', '117', '111', '93', '85', '73', '61', '47', '13']

In [67]:
Team=pd.DataFrame({})
Team['Team']=team_review[:10]
Team['Matches']=match[:10]
Team['Points']=point[:10]
Team['Rating']=rates[:10]

In [68]:
pos= pd.Index(range(1, 11, 1))
Team = Team.set_index(pos)
Team

            Team Matches Points Rating
1      Australia      18  2,955    164
2   South Africa      24  2,828    118
3        England      17  1,993    117
4          India      20  2,226    111
5    New Zealand      21  1,947     93
6    West Indies      12  1,025     85
7       Pakistan      15  1,101     73
8     Bangladesh       5    306     61
9      Sri Lanka      11    519     47
10       Ireland       2     25     13

#####  ii) Top 10 women’s ODI players along with the records of their team and rating.

In [69]:
page9= requests.get('https://www.icc-cricket.com/rankings/womens/player-rankings/odi/batting')
soup9= BeautifulSoup(page9.content,'html.parser')
import re

#### Women's Players Name

In [70]:
list1= soup9.find('div',class_='rankings-block__banner--name-large')
p_name=soup9.find_all('td',class_="table-body__cell rankings-table__name name")
player=[]
player.append(list1)
for i in range(0,len(p_name)):
        player.append(p_name[i])
name=[]
for i in player:
      name.append(i.text.replace("\n",""))
name[:10]

['Tammy Beaumont',
 'Lizelle Lee',
 'Alyssa Healy',
 'Stafanie Taylor',
 'Meg Lanning',
 'Amy Satterthwaite',
 'Smriti Mandhana',
 'Mithali Raj',
 'Natalie Sciver',
 'Laura Wolvaardt']

#### Women's player Team Name

In [71]:
list2= soup9.find('div',class_='rankings-block__banner--nationality')
t_name=soup9.find_all('span',class_="table-body__logo-text")
team=[]
team.append(list2)
for i in range(0,len(t_name)):
        team.append(t_name[i])

team_name=[]
for i in team:
    team_name.append(i.text.replace("\n",""))
team_name[:10]

['ENG', 'SA', 'AUS', 'WI', 'AUS', 'NZ', 'IND', 'IND', 'ENG', 'SA']

#### Women's Ratings

In [72]:
list3=soup9.find('div',class_='rankings-block__banner--rating')
rating=soup9.find_all('td',class_='table-body__cell rating')
rate=[]
rate.append(list3)
for i in range(0,len(rating)):
    rate.append(rating[i])
Rating=[]
for i in rate:
    Rating.append(i.text.replace("\n",""))
Rating[:10]

['765', '758', '756', '746', '723', '715', '710', '709', '685', '683']

#### Dataframe

In [73]:
Players=pd.DataFrame({})
Players['Player']=name[:10]
Players['Team']=team_name[:10]
Players['Rating']=Rating[:10]

In [74]:
pos= pd.Index(range(1, 11, 1))
Players = Players.set_index(pos)
Players

               Player Team Rating
1      Tammy Beaumont  ENG    765
2         Lizelle Lee   SA    758
3        Alyssa Healy  AUS    756
4     Stafanie Taylor   WI    746
5         Meg Lanning  AUS    723
6   Amy Satterthwaite   NZ    715
7     Smriti Mandhana  IND    710
8         Mithali Raj  IND    709
9      Natalie Sciver  ENG    685
10    Laura Wolvaardt   SA    683

#####  iii) Top 10 women’s ODI all-rounder along with the records of their team and rating

In [75]:
page10= requests.get('https://www.icc-cricket.com/rankings/womens/player-rankings/odi/all-rounder')
soup10= BeautifulSoup(page10.content,'html.parser')
import re

#### Women's Allrounder Players Name

In [76]:
list10= soup10.find('div',class_='rankings-block__banner--name-large')
player_name=soup10.find_all('td',class_="table-body__cell rankings-table__name name")
name_allrounder=[]
name_allrounder.append(list10)
for i in range(0,len(player_name)):
        name_allrounder.append(player_name[i])
p_name=[]
for i in name_allrounder:
      p_name.append(i.text.replace("\n",""))
p_name[:10]

['Marizanne Kapp',
 'Ellyse Perry',
 'Stafanie Taylor',
 'Natalie Sciver',
 'Deepti Sharma',
 'Jess Jonassen',
 'Ashleigh Gardner',
 'Dane van Niekerk',
 'Sophie Devine',
 'Amelia Kerr']

#### Team Name

In [77]:
list12= soup10.find('div',class_='rankings-block__banner--nationality')
team_name=soup10.find_all('span',class_="table-body__logo-text")
teams=[]
teams.append(list12)
for i in range(0,len(team_name)):
        teams.append(team_name[i])

name_team=[]
for i in teams:
    name_team.append(i.text.replace("\n",""))
name_team[:10]

['SA', 'AUS', 'WI', 'ENG', 'IND', 'AUS', 'AUS', 'SA', 'NZ', 'NZ']

#### Player Ratings

In [78]:
list13=soup10.find('div',class_='rankings-block__banner--rating')
ratings=soup10.find_all('td',class_='table-body__cell rating')
w_rate=[]
w_rate.append(list13)
for i in range(0,len(ratings)):
    w_rate.append(ratings[i])
Ratings=[]
for i in w_rate:
    Ratings.append(i.text.replace("\n",""))
Ratings[:10]

['418', '418', '410', '349', '343', '307', '252', '243', '242', '236']

#### Dataframe

In [79]:
Women_df=pd.DataFrame({})
Women_df['Player']=p_name[:10]
Women_df['Team']=name_team[:10]
Women_df['Rating']=Ratings[:10]

In [80]:
pos= pd.Index(range(1, 11, 1))
Women_df = Women_df.set_index(pos)
Women_df

              Player Team Rating
1     Marizanne Kapp   SA    418
2       Ellyse Perry  AUS    418
3    Stafanie Taylor   WI    410
4     Natalie Sciver  ENG    349
5      Deepti Sharma  IND    343
6      Jess Jonassen  AUS    307
7   Ashleigh Gardner  AUS    252
8   Dane van Niekerk   SA    243
9      Sophie Devine   NZ    242
10       Amelia Kerr   NZ    236

# 7. Python program to scrape details of all the mobile phones under Rs. 20,000 listed on Amazon.in.

In [122]:
Page12=requests.get('https://www.amazon.in/s?k=mobile&rh=p_36%3A-20000000&qid=1621975129&rnid=1318502031&ref=sr_nr_p_36_5')
soup12=BeautifulSoup(Page12.content,'html.parser')

In [123]:
Page12

In [124]:
mobile_name=soup12.find_all('span', class_='a-size-medium a-color-base a-text-normal')
name=[]

for i in mobile_name:
     name.append(i.text.replace("\n",''))
name

['Redmi 9 (Sky Blue, 4GB RAM, 64GB Storage)| 5000 mAh| 2.3GHz Mediatek Helio G35 Octa core Processor',
 'Redmi 9A (Nature Green, 2GB RAM, 32GB Storage) | 2GHz Octa-core Helio G25 Processor | 5000 mAh Battery',
 'Samsung Galaxy M12 (Blue,4GB RAM, 64GB Storage) 6000 mAh with 8nm Processor | True 48 MP Quad Camera | 90Hz Refresh Rate',
 'Oppo A31 (Mystery Black, 6GB RAM, 128GB Storage) with No Cost EMI/Additional Exchange Offers',
 'Samsung Galaxy M12 (Blue,6GB RAM, 128GB Storage) 6000 mAh with 8nm Processor | True 48 MP Quad Camera | 90Hz Refresh Rate',
 'Samsung Galaxy M11 (Metallic Blue, 4GB RAM, 64GB Storage) with No Cost EMI/Additional Exchange Offers',
 'Oppo A31 (Fantasy White, 6GB RAM, 128GB Storage) with No Cost EMI/Additional Exchange Offers',
 'Redmi Note 9 (Pebble Grey, 4GB RAM 64GB Storage) - 48MP Quad Camera & Full HD+ Display',
 'Redmi 9 (Carbon Black, 4GB RAM, 64GB Storage) | 5000 mAh| 2.3GHz Mediatek Helio G35 Octa core Processor',
 'Samsung Galaxy M12 (Black,4GB RAM, 64GB Storage) 6000 mAh with 8nm Processor | True 48 MP Quad Camera | 90Hz Refresh Rate',
 'Samsung Galaxy M11 (Violet, 4GB RAM, 64GB Storage) with No Cost EMI/Additional Exchange Offers',
 'Redmi 9 (Sporty Orange, 4GB RAM, 64GB Storage) | 5000 mAh| 2.3GHz Mediatek Helio G35 Octa core Processor',
 'Panasonic Eluga i7 (2GB RAM, 16GB Storage, Finger Print Sensor, 4000mAh Battery) (Black)',
 'Redmi 9A (Midnight Black 2GB RAM 32GB Storage) | 2GHz Octa-core Helio G25 Processor | 5000 mAh Battery',
 'Samsung Galaxy M11 (Black, 4GB RAM, 64GB Storage) with No Cost EMI/Additional Exchange Offers',
 'Redmi 9A (Sea Blue 2GB RAM 32GB Storage) | 2GHz Octa-core Helio G25 Processor | 5000 mAh Battery']

In [125]:
len(name)

16

#### Price

In [126]:
mobile_price=soup12.find_all('span',class_="a-price-whole")
price=[]

for i in mobile_price:
     price.append(i.text.replace("\n",''))
price

['8,799',
 '6,799',
 '10,499',
 '11,490',
 '12,999',
 '8,999',
 '11,490',
 '10,999',
 '8,799',
 '10,499',
 '8,999',
 '8,799',
 '5,000',
 '6,799',
 '8,999',
 '6,799']

In [127]:
len(price)

16

#### image url

In [138]:
images = soup12.find_all('img', class_="s-image")
img_src=[]
for i in images: 
    img_src.append(i.get('srcset'))
img_src[:17]

[None,
 'https://m.media-amazon.com/images/I/71A9Vo1BatL._AC_UY218_.jpg 1x, https://m.media-amazon.com/images/I/71A9Vo1BatL._AC_UY327_QL65_.jpg 1.5x, https://m.media-amazon.com/images/I/71A9Vo1BatL._AC_UY436_QL65_.jpg 2x, https://m.media-amazon.com/images/I/71A9Vo1BatL._AC_UY545_QL65_.jpg 2.5x, https://m.media-amazon.com/images/I/71A9Vo1BatL._AC_UY654_QL65_.jpg 3x',
 'https://m.media-amazon.com/images/I/71sxlhYhKWL._AC_UY218_.jpg 1x, https://m.media-amazon.com/images/I/71sxlhYhKWL._AC_UY327_QL65_.jpg 1.5x, https://m.media-amazon.com/images/I/71sxlhYhKWL._AC_UY436_QL65_.jpg 2x, https://m.media-amazon.com/images/I/71sxlhYhKWL._AC_UY545_QL65_.jpg 2.5x, https://m.media-amazon.com/images/I/71sxlhYhKWL._AC_UY654_QL65_.jpg 3x',
 'https://m.media-amazon.com/images/I/71yYaNztZ0L._AC_UY218_.jpg 1x, https://m.media-amazon.com/images/I/71yYaNztZ0L._AC_UY327_QL65_.jpg 1.5x, https://m.media-amazon.com/images/I/71yYaNztZ0L._AC_UY436_QL65_.jpg 2x, https://m.media-amazon.com/images/I/71yYaNztZ0L._AC_UY545_QL65_.jpg 2.5x, https://m.media-amazon.com/images/I/71yYaNztZ0L._AC_UY654_QL65_.jpg 3x',
 'https://m.media-amazon.com/images/I/71KCwNV6MuL._AC_UY218_.jpg 1x, https://m.media-amazon.com/images/I/71KCwNV6MuL._AC_UY327_QL65_.jpg 1.5x, https://m.media-amazon.com/images/I/71KCwNV6MuL._AC_UY436_QL65_.jpg 2x, https://m.media-amazon.com/images/I/71KCwNV6MuL._AC_UY545_QL65_.jpg 2.5x, https://m.media-amazon.com/images/I/71KCwNV6MuL._AC_UY654_QL65_.jpg 3x',
 'https://m.media-amazon.com/images/I/71yYaNztZ0L._AC_UY218_.jpg 1x, https://m.media-amazon.com/images/I/71yYaNztZ0L._AC_UY327_QL65_.jpg 1.5x, https://m.media-amazon.com/images/I/71yYaNztZ0L._AC_UY436_QL65_.jpg 2x, https://m.media-amazon.com/images/I/71yYaNztZ0L._AC_UY545_QL65_.jpg 2.5x, https://m.media-amazon.com/images/I/71yYaNztZ0L._AC_UY654_QL65_.jpg 3x',
 'https://m.media-amazon.com/images/I/71GQUxuSpnS._AC_UY218_.jpg 1x, https://m.media-amazon.com/images/I/71GQUxuSpnS._AC_UY327_QL65_.jpg 1.5x, https://m.media-amazon.com/images/I/71GQUxuSpnS._AC_UY436_QL65_.jpg 2x, https://m.media-amazon.com/images/I/71GQUxuSpnS._AC_UY545_QL65_.jpg 2.5x, https://m.media-amazon.com/images/I/71GQUxuSpnS._AC_UY654_QL65_.jpg 3x',
 'https://m.media-amazon.com/images/I/61IhTtJUXJL._AC_UY218_.jpg 1x, https://m.media-amazon.com/images/I/61IhTtJUXJL._AC_UY327_QL65_.jpg 1.5x, https://m.media-amazon.com/images/I/61IhTtJUXJL._AC_UY436_QL65_.jpg 2x, https://m.media-amazon.com/images/I/61IhTtJUXJL._AC_UY545_QL65_.jpg 2.5x, https://m.media-amazon.com/images/I/61IhTtJUXJL._AC_UY654_QL65_.jpg 3x',
 'https://m.media-amazon.com/images/I/71X5I1cVfbL._AC_UY218_.jpg 1x, https://m.media-amazon.com/images/I/71X5I1cVfbL._AC_UY327_QL65_.jpg 1.5x, https://m.media-amazon.com/images/I/71X5I1cVfbL._AC_UY436_QL65_.jpg 2x, https://m.media-amazon.com/images/I/71X5I1cVfbL._AC_UY545_QL65_.jpg 2.5x, https://m.media-amazon.com/images/I/71X5I1cVfbL._AC_UY654_QL65_.jpg 3x',
 'https://m.media-amazon.com/images/I/716nHhG9SWL._AC_UY218_.jpg 1x, https://m.media-amazon.com/images/I/716nHhG9SWL._AC_UY327_QL65_.jpg 1.5x, https://m.media-amazon.com/images/I/716nHhG9SWL._AC_UY436_QL65_.jpg 2x, https://m.media-amazon.com/images/I/716nHhG9SWL._AC_UY545_QL65_.jpg 2.5x, https://m.media-amazon.com/images/I/716nHhG9SWL._AC_UY654_QL65_.jpg 3x',
 'https://m.media-amazon.com/images/I/714QWDxXgNL._AC_UY218_.jpg 1x, https://m.media-amazon.com/images/I/714QWDxXgNL._AC_UY327_QL65_.jpg 1.5x, https://m.media-amazon.com/images/I/714QWDxXgNL._AC_UY436_QL65_.jpg 2x, https://m.media-amazon.com/images/I/714QWDxXgNL._AC_UY545_QL65_.jpg 2.5x, https://m.media-amazon.com/images/I/714QWDxXgNL._AC_UY654_QL65_.jpg 3x',
 'https://m.media-amazon.com/images/I/713asoeJn7S._AC_UY218_.jpg 1x, https://m.media-amazon.com/images/I/713asoeJn7S._AC_UY327_QL65_.jpg 1.5x, https://m.media-amazon.com/images/I/713asoeJn7S._AC_UY436_QL65_.jpg 2x, https://m.media-amazon.com/images/I/713asoeJn7S._AC_UY545_QL65_.jpg 2.5x, https://m.media-amazon.com/images/I/713asoeJn7S._AC_UY654_QL65_.jpg 3x',
 'https://m.media-amazon.com/images/I/71A9Vo1BatL._AC_UY218_.jpg 1x, https://m.media-amazon.com/images/I/71A9Vo1BatL._AC_UY327_QL65_.jpg 1.5x, https://m.media-amazon.com/images/I/71A9Vo1BatL._AC_UY436_QL65_.jpg 2x, https://m.media-amazon.com/images/I/71A9Vo1BatL._AC_UY545_QL65_.jpg 2.5x, https://m.media-amazon.com/images/I/71A9Vo1BatL._AC_UY654_QL65_.jpg 3x',
 'https://m.media-amazon.com/images/I/41QsvcpKaZL._AC_UY218_.jpg 1x, https://m.media-amazon.com/images/I/41QsvcpKaZL._AC_UY327_QL65_.jpg 1.5x, https://m.media-amazon.com/images/I/41QsvcpKaZL._AC_UY436_QL65_.jpg 2x, https://m.media-amazon.com/images/I/41QsvcpKaZL._AC_UY500_QL65_.jpg 2.2935x',
 'https://m.media-amazon.com/images/I/71sxlhYhKWL._AC_UY218_.jpg 1x, https://m.media-amazon.com/images/I/71sxlhYhKWL._AC_UY327_QL65_.jpg 1.5x, https://m.media-amazon.com/images/I/71sxlhYhKWL._AC_UY436_QL65_.jpg 2x, https://m.media-amazon.com/images/I/71sxlhYhKWL._AC_UY545_QL65_.jpg 2.5x, https://m.media-amazon.com/images/I/71sxlhYhKWL._AC_UY654_QL65_.jpg 3x',
 'https://m.media-amazon.com/images/I/710jkZNub3S._AC_UY218_.jpg 1x, https://m.media-amazon.com/images/I/710jkZNub3S._AC_UY327_QL65_.jpg 1.5x, https://m.media-amazon.com/images/I/710jkZNub3S._AC_UY436_QL65_.jpg 2x, https://m.media-amazon.com/images/I/710jkZNub3S._AC_UY545_QL65_.jpg 2.5x, https://m.media-amazon.com/images/I/710jkZNub3S._AC_UY654_QL65_.jpg 3x',
 'https://m.media-amazon.com/images/I/71sxlhYhKWL._AC_UY218_.jpg 1x, https://m.media-amazon.com/images/I/71sxlhYhKWL._AC_UY327_QL65_.jpg 1.5x, https://m.media-amazon.com/images/I/71sxlhYhKWL._AC_UY436_QL65_.jpg 2x, https://m.media-amazon.com/images/I/71sxlhYhKWL._AC_UY545_QL65_.jpg 2.5x, https://m.media-amazon.com/images/I/71sxlhYhKWL._AC_UY654_QL65_.jpg 3x']

In [139]:
len(img_src)

17

#####  Ratings

In [140]:
mobile_ratings=soup12.find_all('span', class_="a-icon-alt")
ratings=[]

for i in mobile_ratings:
     ratings.append(i.get_text())
ratings

['4.2 out of 5 stars',
 '4.2 out of 5 stars',
 '4.1 out of 5 stars',
 '4.2 out of 5 stars',
 '4.1 out of 5 stars',
 '4.2 out of 5 stars',
 '4.2 out of 5 stars',
 '4.3 out of 5 stars',
 '4.2 out of 5 stars',
 '4.1 out of 5 stars',
 '4.2 out of 5 stars',
 '4.2 out of 5 stars',
 '3.1 out of 5 stars',
 '4.2 out of 5 stars',
 '4.1 out of 5 stars',
 '4.2 out of 5 stars',
 '4 Stars & Up',
 '3 Stars & Up',
 '2 Stars & Up',
 '1 Star & Up']

In [141]:
len(ratings)

20

In [146]:
amz=pd.DataFrame({})
amz['Mobile Name']=name
amz['Price (in Rs)']=price
amz['Image Url']=img_src[1:17]
amz['Ratings']=ratings[0:16]

In [147]:
amz

,Mobile Name,Price (in Rs),Image Url,Ratings
0,"Redmi 9 (Sky Blue, 4GB RAM, 64GB Storage)| 500...","8,799",https://m.media-amazon.com/images/I/71A9Vo1Bat...,4.2 out of 5 stars
1,"Redmi 9A (Nature Green, 2GB RAM, 32GB Storage)...","6,799",https://m.media-amazon.com/images/I/71sxlhYhKW...,4.2 out of 5 stars
2,"Samsung Galaxy M12 (Blue,4GB RAM, 64GB Storage...","10,499",https://m.media-amazon.com/images/I/71yYaNztZ0...,4.1 out of 5 stars
3,"Oppo A31 (Mystery Black, 6GB RAM, 128GB Storag...","11,490",https://m.media-amazon.com/images/I/71KCwNV6Mu...,4.2 out of 5 stars
4,"Samsung Galaxy M12 (Blue,6GB RAM, 128GB Storag...","12,999",https://m.media-amazon.com/images/I/71yYaNztZ0...,4.1 out of 5 stars
5,"Samsung Galaxy M11 (Metallic Blue, 4GB RAM, 64...","8,999",https://m.media-amazon.com/images/I/71GQUxuSpn...,4.2 out of 5 stars
6,"Oppo A31 (Fantasy White, 6GB RAM, 128GB Storag...","11,490",https://m.media-amazon.com/images/I/61IhTtJUXJ...,4.2 out of 5 stars
7,"Redmi Note 9 (Pebble Grey, 4GB RAM 64GB Storag...","10,999",https://m.media-amazon.com/images/I/71X5I1cVfb...,4.3 out of 5 stars
8,"Redmi 9 (Carbon Black, 4GB RAM, 64GB Storage) ...","8,799",https://m.media-amazon.com/images/I/716nHhG9SW...,4.2 out of 5 stars
9,"Samsung Galaxy M12 (Black,4GB RAM, 64GB Storag...","10,499",https://m.media-amazon.com/images/I/714QWDxXgN...,4.1 out of 5 stars
10,"Samsung Galaxy M11 (Violet, 4GB RAM, 64GB Stor...","8,999",https://m.media-amazon.com/images/I/713asoeJn7...,4.2 out of 5 stars
11,"Redmi 9 (Sporty Orange, 4GB RAM, 64GB Storage)...","8,799",https://m.media-amazon.com/images/I/71A9Vo1Bat...,4.2 out of 5 stars
12,"Panasonic Eluga i7 (2GB RAM, 16GB Storage, Fin...","5,000",https://m.media-amazon.com/images/I/41QsvcpKaZ...,3.1 out of 5 stars
13,Redmi 9A (Midnight Black 2GB RAM 32GB Storage)...,"6,799",https://m.media-amazon.com/images/I/71sxlhYhKW...,4.2 out of 5 stars
14,"Samsung Galaxy M11 (Black, 4GB RAM, 64GB Stora...","8,999",https://m.media-amazon.com/images/I/710jkZNub3...,4.1 out of 5 stars
15,Redmi 9A (Sea Blue 2GB RAM 32GB Storage) | 2GH...,"6,799",https://m.media-amazon.com/images/I/71sxlhYhKW...,4.2 out of 5 stars

# 8. python program to extract information about the local weather from the National Weather Service website of USA

In [93]:
Page14= requests.get('https://forecast.weather.gov/MapClick.php?lat=37.777120000000025&lon=-122.41963999999996')
Soup14= BeautifulSoup(Page14.content,'html.parser')

##### Period

In [94]:
period = Soup14.find_all('p',class_='period-name')
pd_name =[]
for i in period:
    pd_name.append(i.text)
pd_name

['Today',
 'Tonight',
 'Sunday',
 'SundayNight',
 'Monday',
 'MondayNight',
 'Tuesday',
 'TuesdayNight',
 'Wednesday']

##### Short Description

In [95]:
desc = Soup14.find_all('p',class_='short-desc')
short_d=[]
for i in desc:
    short_d.append(i.get_text(" "))
short_d

['Sunny',
 'Mostly Clear',
 'Sunny then Sunny and Breezy',
 'Mostly Clear and Breezy then Mostly Clear',
 'Sunny and Breezy',
 'Mostly Clear and Breezy then Partly Cloudy',
 'Sunny',
 'Partly Cloudy',
 'Sunny']

##### Temperature

In [96]:
Temp=[]

for i in Soup14.find_all('p',class_="temp"):

    Temp.append(i.text)



Temp

['High: 60 °F',
 'Low: 52 °F',
 'High: 58 °F',
 'Low: 52 °F',
 'High: 63 °F',
 'Low: 51 °F',
 'High: 63 °F',
 'Low: 50 °F',
 'High: 63 °F']

##### Description

In [97]:
desr=[]

for i in Soup14.find_all('div',class_="col-sm-10 forecast-text"):

    desr.append(i.text)



desr[0:10]

['Sunny, with a high near 60. Light south southwest wind becoming west 15 to 20 mph in the afternoon. Winds could gust as high as 25 mph. ',
 'Mostly clear, with a low around 52. West wind 11 to 16 mph becoming light and variable. Winds could gust as high as 22 mph. ',
 'Sunny, with a high near 58. Breezy, with a west wind 5 to 10 mph increasing to 17 to 22 mph in the afternoon. Winds could gust as high as 28 mph. ',
 'Mostly clear, with a low around 52. Breezy, with a west wind 15 to 24 mph, with gusts as high as 31 mph. ',
 'Sunny, with a high near 63. Breezy, with a west wind 15 to 20 mph increasing to 24 to 29 mph in the afternoon. Winds could gust as high as 38 mph. ',
 'Partly cloudy, with a low around 51. Breezy. ',
 'Sunny, with a high near 63.',
 'Partly cloudy, with a low around 50.',
 'Sunny, with a high near 63.',
 'Partly cloudy, with a low around 51.']

In [98]:
Weather=pd.DataFrame({})
Weather['Period']=pd_name
Weather['Short description']=short_d
Weather['Temperature']=Temp
Weather['Decription']=desr[0:9]

In [99]:
Weather

,Period,Short description,Temperature,Decription
0,Today,Sunny,High: 60 °F,"Sunny, with a high near 60. Light south southw..."
1,Tonight,Mostly Clear,Low: 52 °F,"Mostly clear, with a low around 52. West wind ..."
2,Sunday,Sunny then Sunny and Breezy,High: 58 °F,"Sunny, with a high near 58. Breezy, with a wes..."
3,SundayNight,Mostly Clear and Breezy then Mostly Clear,Low: 52 °F,"Mostly clear, with a low around 52. Breezy, wi..."
4,Monday,Sunny and Breezy,High: 63 °F,"Sunny, with a high near 63. Breezy, with a wes..."
5,MondayNight,Mostly Clear and Breezy then Partly Cloudy,Low: 51 °F,"Partly cloudy, with a low around 51. Breezy."
6,Tuesday,Sunny,High: 63 °F,"Sunny, with a high near 63."
7,TuesdayNight,Partly Cloudy,Low: 50 °F,"Partly cloudy, with a low around 50."
8,Wednesday,Sunny,High: 63 °F,"Sunny, with a high near 63."

#### 9. Write a python program to scrape fresher job listings from ‘https://internshala.com/’. It should include job title, company name, CTC, and apply date.

In [148]:
Page15= requests.get('https://internshala.com/fresher-jobs')
Soup15= BeautifulSoup(Page15.content,'html.parser')

In [149]:
Page15

#### Job Title

In [152]:
name=[]

for i in Soup15.find_all('div',class_ = "heading_4_5 profile"):

    name.append(i.text.strip())
name

['PHP & LARAVEL DEVELOPER',
 'Backend Developer (Ruby On Rails)',
 'Customer Service Specialist',
 'Graphic Designer',
 'Digital Marketing Specialist',
 'Junior Corporate Sales Executive',
 'Backend Developer',
 'Junior Operations Executive',
 'Internal Audit Associate',
 'Business Marketing Manager',
 'React Native Developer',
 'Research And Communications Associate',
 'Data Scientist',
 'Data Science Django Developer',
 'Corporate Sales Associate',
 'Full Stack Developer',
 'Full Stack Developer (MERN)',
 'Business Development Executive',
 'Sales Development Representative',
 'Graphic Designer',
 'Operations Executive',
 'Business Development Executive',
 'Admission Counselor (Sales)',
 'Sales And Business Development Analyst',
 'Growth Hacking Digital Marketer',
 'Junior Node.js Developer',
 'Junior Digital Marketing Executive',
 'iOS App Developer',
 'Food Journalist',
 'Junior Software Developer',
 'Full Stack Developer',
 'Business Analyst',
 'Associate Full Stack Developer',
 'Full Stack Engineer',
 'Product Marketer',
 'Business Development Executive',
 'Associate - Business Development',
 'Research Analyst (Economics)',
 'Machine Learning Engineer',
 'Business Analyst']

#### company name

In [153]:
c_name=[]

for i in Soup15.find_all('a', class_ = 'link_display_like_text'):

    c_name.append(i.text.strip())
c_name

['Nyx Wolves',
 'Wollfish Labs Private Limited',
 'Wono Inc',
 'Wono Inc',
 'Wono Inc',
 'Wyntem',
 'HomeJam',
 'NCTI LLP',
 'Global Group',
 'MentorBoxx',
 'Runners Planet',
 'Institute For Governance, Policies & Politics',
 'ProtonAutoML',
 'Markytics',
 'MiM-Essay',
 'Wondermail',
 'Project Tinker',
 'Kaizen Academy',
 'Amigobulls',
 'Underground Movement LLP',
 'Alphacore Technologies Private Limited',
 'Ruhcom Enterprises Private Limited',
 'Sky Education Group',
 "Mo's F&B Group",
 'Sleep Love',
 'Askadmissions.ai',
 'Krivy',
 'Ascentspark Software Private Limited',
 'Truffle Nation',
 'Habitate Technologies Private Limited',
 'SoluLab',
 'SoluLab',
 'REPOZITORY TECHNOLOGIES PRIVATE LIMITED',
 'Beehive Academy India',
 'Bip',
 'Tabeazy',
 'Leverage Edu',
 'DEX-DEFT Research And Consulting OPC Private Limited',
 'AIMonk Labs Technology Limited',
 'Kasper Consulting Private Limited']

#### CTC and apply date

In [157]:
ctc = []
apply_date = []
temp = []
ctc_date = Soup15.find_all('div',class_ = "item_body", id = False)

for cdate in ctc_date:
        temp.append(cdate.text.strip())
for i in temp:
        ctc.append(i) if 'LPA' in i else apply_date.append(i)

In [159]:
len(ctc)

40

In [160]:
len(apply_date)

40

In [161]:
len(c_name)

40

In [162]:
len(name)

40

In [164]:
Internshala=pd.DataFrame({})
Internshala['Title']=name
Internshala['Company']=c_name
Internshala['CTC']=ctc
Internshala['Apply Date']=apply_date

In [165]:
Internshala

,Title,Company,CTC,Apply Date
0,PHP & LARAVEL DEVELOPER,Nyx Wolves,3 - 3.05 LPA,4 Jul' 21
1,Backend Developer (Ruby On Rails),Wollfish Labs Private Limited,6 - 8 LPA,4 Jul' 21
2,Customer Service Specialist,Wono Inc,5.2 - 6.4 LPA,3 Jul' 21
3,Graphic Designer,Wono Inc,5 - 6.5 LPA,3 Jul' 21
4,Digital Marketing Specialist,Wono Inc,5 - 6.5 LPA,3 Jul' 21
5,Junior Corporate Sales Executive,Wyntem,3 - 3.5 LPA,3 Jul' 21
6,Backend Developer,HomeJam,7 - 8.5 LPA,3 Jul' 21
7,Junior Operations Executive,NCTI LLP,3 - 3.6 LPA,3 Jul' 21
8,Internal Audit Associate,Global Group,4.8 - 6 LPA,3 Jul' 21
9,Business Marketing Manager,MentorBoxx,4 - 8.5 LPA,3 Jul' 21
10,React Native Developer,Runners Planet,6.62 - 7.95 LPA,3 Jul' 21
11,Research And Communications Associate,"Institute For Governance, Policies & Politics",3 - 4.5 LPA,3 Jul' 21
12,Data Scientist,ProtonAutoML,3 - 3.5 LPA,2 Jul' 21
13,Data Science Django Developer,Markytics,3 - 4.5 LPA,2 Jul' 21
14,Corporate Sales Associate,MiM-Essay,5 - 6.5 LPA,2 Jul' 21
15,Full Stack Developer,Wondermail,4 - 7 LPA,1 Jul' 21
16,Full Stack Developer (MERN),Project Tinker,4 - 7.2 LPA,3 Jul' 21
17,Business Development Executive,Kaizen Academy,4.5 - 6 LPA,1 Jul' 21
18,Sales Development Representative,Amigobulls,5.5 - 6.5 LPA,1 Jul' 21
19,Graphic Designer,Underground Movement LLP,3 - 5 LPA,1 Jul' 21
20,Operations Executive,Alphacore Technologies Private Limited,3 - 3.5 LPA,1 Jul' 21
21,Business Development Executive,Ruhcom Enterprises Private Limited,3 LPA,1 Jul' 21
22,Admission Counselor (Sales),Sky Education Group,3 LPA,30 Jun' 21
23,Sales And Business Development Analyst,Mo's F&B Group,3 - 3.1 LPA,30 Jun' 21
24,Growth Hacking Digital Marketer,Sleep Love,3 - 3.5 LPA,3 Jul' 21
25,Junior Node.js Developer,Askadmissions.ai,3 - 4 LPA,30 Jun' 21
26,Junior Digital Marketing Executive,Krivy,3 LPA,30 Jun' 21
27,iOS App Developer,Ascentspark Software Private Limited,3.6 - 7 LPA,30 Jun' 21
28,Food Journalist,Truffle Nation,3 - 4.5 LPA,30 Jun' 21
29,Junior Software Developer,Habitate Technologies Private Limited,5.2 - 7 LPA,30 Jun' 21
30,Full Stack Developer,SoluLab,3 - 5 LPA,28 Jun' 21
31,Business Analyst,SoluLab,3 - 4.2 LPA,28 Jun' 21
32,Associate Full Stack Developer,REPOZITORY TECHNOLOGIES PRIVATE LIMITED,3 - 3.6 LPA,30 Jun' 21
33,Full Stack Engineer,Beehive Academy India,4.2 - 8.2 LPA,28 Jun' 21
34,Product Marketer,Bip,3 - 6 LPA,27 Jun' 21
35,Business Development Executive,Tabeazy,3 LPA,27 Jun' 21
36,Associate - Business Development,Leverage Edu,3.6 LPA,27 Jun' 21
37,Research Analyst (Economics),DEX-DEFT Research And Consulting OPC Private L...,3 LPA,3 Jul' 21
38,Machine Learning Engineer,AIMonk Labs Technology Limited,5 - 6.5 LPA,27 Jun' 21
39,Business Analyst,Kasper Consulting Private Limited,3.25 - 4 LPA,26 Jun' 21