In [1]:
import selenium
import pandas as pd
from selenium import webdriver

In [285]:
#lets first connect to the web driver
driver = webdriver.Chrome('chromedriver.exe')

#### Q1: Write a python program to scrape data for “Data Analyst” Job position in “Bangalore” location. You have to scrape the job-title, job-location, company_name, experience_required. You have to scrape first 10 jobs data.

In [3]:
url = 'https://www.naukri.com'
driver.get(url)

In [4]:
#finding element for job search bar

search_job = driver.find_element_by_id('qsb-keyword-sugg')
search_job.send_keys('Data Analyst')
#finding element for job location bar

search_loc = driver.find_element_by_id("qsb-location-sugg")
search_loc.send_keys('Bangalore')

#do click using class_name function

search_btn = driver.find_element_by_class_name('btn')
search_btn.click()

In [11]:
#so lets extract data having the job title 
titles_tags=driver.find_elements_by_xpath("//a[@class='title fw500 ellipsis']")
job_titles=[]
for i in titles_tags:
    job_titles.append(i.text)

In [12]:
#so lets extract all the data having the job location
location_tags=driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi location']")
job_loc=[]
for i in location_tags:
    job_loc.append(i.text)

In [13]:
#so lets extract all the data having the names
companies_tags=driver.find_elements_by_xpath("//a[@class='subTitle ellipsis fleft']")
company_name=[]
for i in companies_tags:
    company_name.append(i.text)

In [14]:
# so lets extract the experience required data
experience_tags = driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi experience']")
experience_req=[]
for i in experience_tags:
    experience_req.append(i.text)

In [15]:
print(len(job_titles),len(experience_req),len(company_name),len(experience_req),len(job_loc))

20 20 20 20 20

In [16]:
jobs=pd.DataFrame({})
jobs['Title']=job_titles[:10]
jobs['Company']=company_name[:10]
jobs['Experience_required']=experience_req[:10]
jobs['Location']=job_loc[:10]

In [17]:
jobs

,Title,Company,Experience_required,Location
0,Product Data Analyst ( Leading MNC ),BRAINHUNT CONSULTANTS PRIVATE LIMITED,2-5 Yrs,Bangalore/Bengaluru
1,Data Analyst - Quant & Data Mining,Catalyst,2-6 Yrs,Bangalore/Bengaluru
2,Data Analyst (Contractual),Flipkart Internet Private Limited,1-4 Yrs,Bangalore/Bengaluru(Bellandur)
3,Data Analyst (Contractual),Flipkart Internet Private Limited,1-4 Yrs,Bangalore/Bengaluru(Bellandur)
4,Marketing Technology Data Analyst,WeGo,2-4 Yrs,Bangalore/Bengaluru
5,Process Data Analyst,Hitachi ABB Power Grids,2-6 Yrs,Bangalore/Bengaluru
6,Data Analyst - Category Demand Management (Rev...,Myntra Designs Pvt. Ltd.,1-4 Yrs,Bangalore/Bengaluru
7,Data Analyst - Revenue & Growth,Myntra Designs Pvt. Ltd.,2-3 Yrs,Bangalore/Bengaluru
8,Technical Data Analyst - Progton Technologies,Progton Technologies LLP,0-2 Yrs,Bangalore/Bengaluru
9,Data Analyst,Near Pte. Ltd.,2-5 Yrs,Bangalore/Bengaluru

#### Q2. Write a python program to scrape data for “Data Scientist” Job position in “Bangalore” location. You have to scrape the job-title, job-location, company_name, full job-description.

In [23]:
#finding element for job search bar

search_job = driver.find_element_by_id('qsb-keyword-sugg')
search_job.send_keys('Data Scientist')

#finding element for job location bar

search_loc = driver.find_element_by_id("qsb-location-sugg")
search_loc.send_keys('Bangalore')

#do click using class_name function

search_btn = driver.find_element_by_class_name('btn')
search_btn.click()

In [24]:
#so lets extract all the data having the job titles
titles_tags=driver.find_elements_by_xpath("//a[@class='title fw500 ellipsis']")
job_titles=[]
for i in titles_tags:
    job_titles.append(i.text)
            
#so lets extract all the data having the job location
location_tags=driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi location']")
job_loc=[]
for i in location_tags:
    job_loc.append(i.text)
            
#so lets extract all the data having the names
companies_tags=driver.find_elements_by_xpath("//a[@class='subTitle ellipsis fleft']")
company_name=[]
for i in companies_tags:
    company_name.append(i.text)
        
# so lets extract the experience required data
experience_tags = driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi experience']")
experience_req=[]
for i in experience_tags:
    experience_req.append(i.text)
            
            
    
Jobs=pd.DataFrame({})
Jobs['Title']=job_titles[:10]
Jobs['Company ']=company_name[:10]
Jobs['Experience']=experience_req[:10]
Jobs['Locations']=job_loc[:10]
    
print("Shape of jobs detail have {} rows and {} columns \n.".format(*Jobs.shape))
Jobs

Shape of jobs detail have 10 rows and 4 columns
.

,Title,Company,Experience,Locations
0,Data Scientist,Bion,2-7 Yrs,Bangalore/Bengaluru
1,Data Scientist - Python/ SQL,Catalyst,2-7 Yrs,Bangalore/Bengaluru
2,Data Scientist,Catalyst,2-7 Yrs,Bangalore/Bengaluru
3,Data Scientist - Machine Learning,Catalyst,2-7 Yrs,Bangalore/Bengaluru
4,Data Scientist - Python/r,Catalyst,2-6 Yrs,Bangalore/Bengaluru
5,Data Scientist - KPO,Antrors HR Solutions,2-5 Yrs,Bangalore/Bengaluru
6,Data Scientist - Machine Learning,AugmatrixGo,2-5 Yrs,Bangalore/Bengaluru
7,Data Scientist,Talent Corner HR Services Pvt Ltd,2-5 Yrs,Bangalore/Bengaluru
8,Data scientist - Bangalore - only IITand IIM,Industrial Personnel Network,1-6 Yrs,Bangalore/Bengaluru
9,Data Scientist,COUTURE AI PRIVATE LIMITED,2-5 Yrs,Bangalore/Bengaluru

####     Q2- ii - 2 Now make a  full job description.

In [25]:
import time
from selenium.common.exceptions import NoSuchElementException

In [26]:
urls=[]
for i in driver.find_elements_by_xpath("//a[@class='title fw500 ellipsis']"):
    urls.append(i.get_attribute("href"))

In [27]:
#defining variables
job_titles=[]
job_description=[]

for i in urls[:10]:
    driver.get(i)
    time.sleep(3)
    #fetching the job title
    try:
        job=driver.find_element_by_xpath("//h1[@class='jd-header-title']")
        job_titles.append(job.text)
    except:
         job_titles.append('--')
    
    try:
        job_desc=driver.find_element_by_xpath("//section[@class='job-desc']")
        job_description.append(job_desc.text)
    except:
         job_description.append('--')

In [28]:
job_titles

['Data Scientist',
 'Data Scientist - Python/ SQL',
 'Data Scientist',
 'Data Scientist - Machine Learning',
 'Data Scientist - Python/r',
 'Data Scientist - KPO',
 'Data Scientist - Machine Learning',
 'Data Scientist',
 'Data scientist - Bangalore - only IITand IIM',
 'Data Scientist']

In [29]:
job_description

["Job description\nResponsibilities\n\nCollaborate with product and business teams to understand all aspects of the problem\n\nDefine the right target metrics that best represent the end-user value\n\nApply knowledge of ML, statistics, and advanced mathematics to conceptualize, experiment and design an intelligent system\n\nWork with engineers to build the system end-to-end including Big Data pipelines and ensure the serving system is scalable and highly performant.\n\nQualifications\n\nA Bachelor's degree or a higher degree in Computer Science, Statistics, Mathematics or a related field.\n\nStrong problem-solving and programming skills with a deep understanding of data structures and algorithms.\n\nSolid understanding of mathematical underpinnings behind Machine Learning algorithms and proficiency in probability, statistics, linear algebra, calculus, and optimization.\n\nMust have 2+ years of experience in ML with a proven record of successful ML projects with strong individual contribution\n\nExperience with NLP, Distributed Systems, large scale computing, Big Data technologies like Hadoop and Spark are plus.\nRoleData Analyst\nIndustry TypeIT Services & Consulting\nFunctional AreaAnalytics & Business Intelligence\nEmployment TypeFull Time, Permanent\nRole CategoryAnalytics & BI\nEducation\nUG :B.Tech/B.E. in Any Specialization\nPG :MCA in Computers\nDoctorate :Doctorate Not Required\nKey Skills\nData ScienceNLPData ScientistMachine learningPredictiveTime SeriesRegressionPredictivityAnalyticsPython",
 "Job description\nRoles and responsibilities \nJob description\n\nSkill: SQL, Python, Business Analysis, Data Science;\n\nExp: 2-7 years;\n\nJob Description Ensuring quality in crowd sourcing model is the biggest challenge to solve for. Being the first data scientist of the company, you shall be responsible for building robust algorithms ensure quality, from scratch.Responsibilities- Develop models to derive maximum quality from crowd sourced data\n\nDerive insights and identify opportunities through the use of algorithmic, statistical, mining & visualisation techniques- Work closely with engineering to implement aforementioned models\nRequired Candidate profile\nRequirements\n\nBachelors or above in Mathematics, Statistics, CS or related fields.\n\nMin. 2 years experience with mathematical modelling, statistical analysis, machine learning, NLP- Must have implemented machine learning based solution which is being used in production\n\nProgramming proficiency, preferably with Python, R, SQL, Java and equivalents- Experience of working with relational and non-relational databasesWe're a fast growing startup, looking for talented and ambitious individuals who want to join us on this journey and build awesome things which can change the way work gets done. You shall get,- Complete Ownership, Flexible timings\n\nWe deal with millions of data points every day and we can assure you that you will have no dearth of data to work with in this job- Pay as per industry standards. Lucrative stock options.\n\nAn awesome office to work in and awesome people to work with- Weekend beer! Munchies on the house )\nRoleData Analyst\nIndustry TypeIT Services & Consulting\nFunctional AreaAnalytics & Business Intelligence\nEmployment TypeFull Time, Permanent\nRole CategoryAnalytics & BI\nEducation\nUG :B.Tech/B.E. in Computers, B.A in Statistics, Maths, B.Sc in Maths, Statistics\nPG :Any Postgraduate in Any Specialization\nDoctorate :Any Doctorate in Any Specialization, Doctorate Not Required\nKey Skills\nData ScienceJavaRNLPAlgorithmsData ScientistMachine LearningStatistical AnalysisStatisticsPythonSQL",
 "Job description\nResponsibilities\n\nCollaborate with product and business teams to understand all aspects of the problem\n\nDefine the right target metrics that best represent the end-user value\n\nApply knowledge of ML, statistics, and advanced mathematics to conceptualize, experiment and design an intelligent system\n\nWork with engineers to build the system end-to-end including Big Data pipelines and ensure the serving system is scalable and highly performant.\nRequired Candidate profile\nQualifications\n\nA Bachelor's degree or a higher degree in Computer Science, Statistics, Mathematics or a related field.\n\nStrong problem-solving and programming skills with a deep understanding of data structures and algorithms.\n\nSolid understanding of mathematical underpinnings behind Machine Learning algorithms and proficiency in probability, statistics, linear algebra, calculus, and optimization.\n\nMust have 2+ years of experience in ML with a proven record of successful ML projects with strong individual contribution\n\nExperience with NLP, Distributed Systems, large scale computing, Big Data technologies like Hadoop and Spark are plus.\nRoleOther\nIndustry TypeIT Services & Consulting\nFunctional AreaAnalytics & Business Intelligence\nEmployment TypeFull Time, Permanent\nRole CategoryOther\nEducation\nUG :B.Tech/B.E. in Computers, B.Sc in Maths, Computers, Statistics\nPG :MCA in Computers\nDoctorate :Doctorate Not Required\nKey Skills\nData ScienceNLPData ScientistMachine learningPredictiveTime SeriesRegressionPredictivityAnalyticsPython",
 'Job description\nRoles and Responsibilities\n- Implement data-driven solutions based on advanced ML and optimization algorithms to address business problems\n\n- Research, experiment, and innovate MLstatistical approaches in various application areas of interest and contribute to IP\n\n- Partner with engineering teams to build scalable, efficient, automated ML-based pipelines (trainingevaluationmonitoring)\n\n- Deploy, maintain, and debug MLdecision models in a production environment\n\n- Analyze and assess data to ensure high data quality and correctness of downstream processes\n\n- Communicate results to stakeholders and present datainsights to participate in and drive decision making\nRoleData Analyst\nIndustry TypeBanking\nFunctional AreaAnalytics & Business Intelligence\nEmployment TypeFull Time, Permanent\nRole CategoryAnalytics & BI\nEducation\nUG :BCA in Computers, B.Tech/B.E. in Any Specialization, B.Sc in Any Specialization\nPG :Any Postgraduate in Any Specialization\nDoctorate :Doctorate Not Required\nKey Skills\nData ScienceData QualityData ScientistStatistical ModelingStatistical AnalystMachine Learning',
 "Job description\nWhat You'll Do :\n\n- Leverage data to perform intensive analysis across all areas of our business to catalyze product development\n\n- Design experiments and interpret the results to draw detailed and actionable conclusions\n\n- Generate and execute on ideas for exploratory analysis to shape future projects and provide recommendations for actions\n\n- Perform time-series analyses, hypothesis testing, and causal analyses to statistically assess relative impact and extract trends\n\n- Create models to enhance understanding of user behavior and predict future performance of cohorts\n\n- Create dashboards and reports to regularly communicate results and monitor key metrics\n\n- Present findings to senior management to guide business decisions\n\n- Collaborate with cross-functional teams across disciplines such as product, engineering, operations, and marketing\n\nRequired Candidate profile\nWhat You'll Need :\n\n- 3-5 years of experience in a quantitative analysis role\n\n- BE/BS/MS in Physics, Economics, Applied Math, Statistics, Engineering, Computer Science, or other quantitative field (advanced degrees are a plus)\n\n- Comfortable writing code and contributing to a code base in Python or R\n\n- Proficient in writing and understanding complex SQL; experience working with large data sets\n\n- Advanced knowledge of experimentation and statistical methods\n\n- Ability to deliver on tight timelines and move quickly while maintaining attention to detail\n\n- Collaborate closely with cross-functional teams to execute on decisions\n\n- Self-driven and proactive with the ability to work in a self-guided manner\n\n- Excellent communication and organization skills\nRoleData Analyst\nIndustry TypeIT Services & Consulting\nFunctional AreaAnalytics & Business Intelligence\nEmployment TypeFull Time, Permanent\nRole CategoryAnalytics & BI\nEducation\nUG :B.Tech/B.E. in Computers, B.Sc in Other Specialization, Physics, Statistics\nPG :MS/M.Sc(Science) in Physics, Computers, Statistics\nDoctorate :Doctorate Not Required\nKey Skills\nData ScienceRData ScientistData Managementproduct developmentPythonSQL",
 'Job description\nResponsibilities:\n\n- Work with stakeholders throughout the organization to identify opportunities for leveraging company data to drive business solutions.\n\n- Mine and analyze data from company databases to drive optimization and improvement\n\n- Assess the effectiveness and accuracy of new data sources and data gathering techniques.\n\n- Develop custom data models and algorithms to apply to data sets.\n\n- Use predictive modeling to increase and optimize customer experiences, revenue generation, ad targeting and other business outcomes.\n\n- Develop company A/B testing framework and test model quality.\n\n- Coordinate with different functional teams to implement models and monitor outcomes.\n\n- Develop processes and tools to monitor and analyze model performance and data accuracy\n\nRequired Candidate profile\nQualifications & Experience:\n\n- PG / MBA with 2 to 5 Yrs Experience with strong problem solving skills with an emphasis on product development.\n\n- Experience using statistical computer languages (R, Python, SLQ, etc.) to manipulate data and draw insights from large data sets.\n\n- Experience working with and creating data architectures.\n\n- Knowledge of a variety of machine learning techniques (clustering, decision tree learning, artificial neural networks, etc.) and their real-world advantages/drawbacks.\n\n- Knowledge of advanced statistical techniques and concepts .\nRoleData Analyst\nIndustry TypeAnalytics / KPO / Research\nFunctional AreaAnalytics & Business Intelligence\nEmployment TypeFull Time, Permanent\nRole CategoryAnalytics & BI\nEducation\nUG :Any Graduate in Any Specialization\nPG :MBA/PGDM in Any Specialization\nDoctorate :Doctorate Not Required\nKey Skills\nData SciencePredictive ModelingNLPData ScientistArtificial IntelligenceData ManagementStatistical ModelingData ModelingMachine LearningPythonSQL',
 'Job description\nRoles and Responsibilities\n\n\n- Selecting features, building and optimizing classifiers using machine learning techniques\n\n- Data mining using state-of-the-art methods\n\n- Enhancing data collection procedures to include information that is relevant for building analytic systems\n\n- Processing, cleansing, and verifying the integrity of data used for analysis\n\n- Doing ad-hoc analysis and presenting results in a clear manner\n\n- Creating automated anomaly detection systems and constant tracking of its performance\n\nSkills Required :\n\n- Excellent understanding of machine learning techniques and algorithms, such as k-NN, Naive Bayes, SVM, Decision Forests, etc.\n\n- Experiences with one or more of the following is highly desirable: HPC/Parallelization, operationalizing ML models; cloud computing (e.g. Google Cloud, AWS, etc.); familiarity with ML frameworks such as Tensorflow, Theano, MXNet, etc\n\n- Good experience in a few of the following areas: deep neural networks, reinforcement learning, Markov Random Fields, Bayesian networks, semi-supervised learning, computer vision, image processing, signal processing, distributed computing, and/or numerical optimization\n\n- 2+ years of experience with computer vision and deep learning solutions, including image classification, object detection, segmentation, and equivalent computer vision-based vision tasks\n\n- Experience with common data science toolkits, such as R, Weka, NumPy, etc . Excellence in at least one of these is highly desirable\n\n- Proficiency in using query languages such as SQL, Hive, Pig\n\n- Good applied statistics skills, such as distributions, statistical testing, regression, etc.\n\n- Good scripting and programming skills\n\n- Data-oriented personality\n\n- B.Tech/M.Tech degree in from reputed institutes like IIT / NIT / BITS\nRoleData Analyst\nIndustry TypeIT Services & Consulting\nFunctional AreaAnalytics & Business Intelligence\nEmployment TypeFull Time, Permanent\nRole CategoryAnalytics & BI\nEducation\nUG :B.Tech/B.E. in Any Specialization\nPG :M.Tech in Any Specialization\nDoctorate :Doctorate Not Required\nKey Skills\nHiveRCloud ComputingData ScientistComputer VisionMachine LearningDeep LearningSQLPig',
 'Job description\nMust have min 2 to 5 years of expertise in machine learning algorithms, predictive analytics, demand forecasting in real-world projects Solid statistical background in descriptive & inferential statistics, regression, forecasting techniques\n\nRequired Candidate profile\nStrong Programming background in Python (with library like Tensorflow), R, D3.js, Tableau, Spark, SQL, MongoDB\nPrefer exposure to Optimization & Meta-heuristic algorithm & related applications\n\nPerks and benefits\nFlexible Working Hours + Medical Insurance\nRoleSoftware Developer\nIndustry TypeIT Services & Consulting\nFunctional AreaIT Software - Application Programming, Maintenance\nEmployment TypeFull Time, Permanent\nRole CategoryProgramming & Design\nEducation\nUG :Any Graduate in Any Specialization\nPG :Any Postgraduate in Any Specialization\nDoctorate :Doctorate Not Required\nKey Skills\nMachine LearningPredictive AnalyticsPython\nTableauDemand ForecastingDeep LearningSQLRAlgorithmsNoSQLData ScientistApplied StatisticsMongoDBSparkD3.jsTensorFlow\nSkills highlighted with ‘‘ are preferred keyskills',
 'Job description\nThe candidate should have relevant experience in Python, R, Machine Learning, NLP, Deep Learning, CNN, KNN, Neural Network etc of 1 to 7 yrs for various role. Btech candidates 2012-2018 batch can apply for this position (Only IIT / IIM Candidates)\nRoleTeam Lead/Technical Lead\nIndustry TypeMiscellaneous\nFunctional AreaIT Software - Application Programming, Maintenance\nEmployment TypeFull Time, Permanent\nRole CategoryProgramming & Design\nEducation\nUG :B.Tech/B.E. in Any Specialization\nKey Skills\npythonRIITData sciencedata scientistIIMMachine Learning',
 'Job description\nCouture AI Pvt Ltd, Bengaluru, India\ninfo@couture.ai | www.couture.ai\nJob Description: Data Scientist Openings at Couture AI\nCouture AI Platform provides Pluggable Building Blocks to entire\nAI stack, which are used to build and productionize varied\nAbout Company enterprise ML and deep learning usecases. It has enabled some\nof largest global organizations implement specific vertical\ntargeted products build on top of its proprietary AI platform.\nNature of Business Artificial Intelligence Platform\nCompany Website www.couture.ai\nJob Designation Data Scientist / Associate Data Scientist\nJob Location Bengaluru\nBasic Qualifications:\n• Bachelors in Computer Science/Mathematics + Research\n(Machine Learning, Deep Learning, Statistics, Data Mining,\nGame Theory or core mathematical areas) from Tier-1 institutes\n(IITs, IISc, BITS, IIITs and global ranked Univs) with good\nacademic credentials (CGPA).\nExperience:\n• Building large scale AI models and/or systems.\n• Expertise with Data, Machine Learning and Deep learning\n(CNN, RNN, LSTM, RBM, Seq-to-Seq Autoencoders Decoders,\netc.).\n• Strong data structures and algorithms capabilities.\nJob Description &\nSkills Required\nLooking for data science researchers.\n• Strong working knowledge of deep learning, machine\nlearning, and statistics.\n- Domain understanding of Personalization, Search and\nVisual.\n• Strong math skills with statistical modeling and machine\nlearning.\n• Experience in using Python, statistical/machine learning libs.\n• Hands-on experience building models with deep learning\nframeworks (TensorFlow & TF tooling: TFX, TF Serving, Tensor\nBoard, etc.).\n• Ability to think creatively and solve problems.\n\n\n\n\nCouture AI Pvt Ltd, Bengaluru, India\ninfo@couture.ai | www.couture.ai\nPreferred:\n• Publications in highly accredited journals (If available, please\nshare links to your published work.).\n• Or, history of scaling ML/Deep learning algorithms at\nmassively large scale.\nRoleData Science\nIndustry TypeSoftware Product\nFunctional AreaIT Software - eCommerce, Internet Technologies\nEmployment TypeFull Time, Permanent\nRole CategoryNot mentioned\nEducation\nUG :B.Tech/B.E. in Any Specialization\nKey Skills\nTensorflowData ScienceRnnLstmArtificial IntelligenceStatistical ModelingData MiningMachine LearningDeep LearningPython']

### Question-3 - Web scrapping from Naukri.com

In [30]:
url = 'https://www.naukri.com'
driver.get(url)

In [31]:
#finding element for job search bar

search_job = driver.find_element_by_id('qsb-keyword-sugg')
search_job.send_keys('Data Scientist')

#do click using class_name function

search_btn = driver.find_element_by_class_name('btn')
search_btn.click()

In [35]:
#Clicking the element for job location and salary

search_loc = driver.find_element_by_xpath("//span[@title='Delhi / NCR'] ").click()

In [36]:
#Clicking the element for job salary
search_sal = driver.find_element_by_xpath("//span[@title='3-6 Lakhs'] ").click()

In [37]:
#so lets extract all the data having the job titles
job_titles=[]
for i in driver.find_elements_by_xpath("//a[@class='title fw500 ellipsis']"):
    job_titles.append(i.text)
            
#so lets extract all the data having the job location
job_location=[]
for i in driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi location']"):
    job_location.append(i.text)
            
#so lets extract all the data having the names
company_name=[]
for i in driver.find_elements_by_xpath("//a[@class='subTitle ellipsis fleft']"):
    company_name.append(i.text)
        
# so lets extract the experience required data
experience_tags = driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi experience']")
experience_req=[]
for i in experience_tags:
    experience_req.append(i.text)
            
            
    
DS_Jobs=pd.DataFrame({})
DS_Jobs['Title']=job_titles[:10]
DS_Jobs['Company ']=company_name[:10]
DS_Jobs['Experience']=experience_req[:10]
DS_Jobs['Locations']=job_location[:10]
    
print("Shape of jobs detail have {} rows and {} columns \n.".format(*DS_Jobs.shape))
DS_Jobs

Shape of jobs detail have 10 rows and 4 columns
.

,Title,Company,Experience,Locations
0,Chaayos is Looking For Data Scientist,Chaayos (Sunshine Teahouse Pvt. Ltd.),0-5 Yrs,New Delhi
1,Data Scientist,Cloudstrats Technologies Private Limited,3-5 Yrs,Delhi / NCR
2,Data Scientist / Data Analyst -Business Analyst,Inflexion Analytix Private Limited,0-3 Yrs,"Mumbai, Hyderabad/Secunderabad, Pune, Gurgaon/..."
3,Data Scientist Machine Learning,Delhivery,1-3 Yrs,Gurgaon/Gurugram
4,Data Engineer,Wobot Intelligence,2-4 Yrs,Delhi / NCR
5,Data Scientist,Shadowfax Technologies Pvt. Ltd.,1-3 Yrs,Gurgaon/Gurugram
6,Change Magician - Machine Learning Engineer,17LIVE INC,0-0 Yrs,"Hyderabad/Secunderabad, Bangalore/Bengaluru, D..."
7,Data Scientist Operational Research,Delhivery,1-3 Yrs,Gurgaon/Gurugram
8,Data Engineer - Big Data Engineer,CAIA -Inflexion Analytix Private Limited,0-3 Yrs,"Mumbai, Hyderabad/Secunderabad, Pune, Chennai,..."
9,Data Analyst,HEALTH ARX TECHNOLOGIES PRIVATE LIMITED,2-5 Yrs,Delhi / NCR

### Question - 4 Web Scrapping from Glassdoor.co.in

In [61]:
url = 'https://www.glassdoor.co.in/index.htm'
driver.get(url)

In [62]:
#finding element for job search bar

search_job = driver.find_element_by_id('sc.keyword')
search_job.send_keys('Data Scientist')

#finding element for job location bar

search_loc = driver.find_element_by_xpath("//input[@id='sc.location']")
search_loc.send_keys('Noida')

#do click using class_name function

search_btn = driver.find_element_by_xpath("//button[@class='gd-ui-button ml-std col-auto SearchStyles__newSearchButton css-iixdfr']")
search_btn.click()

In [64]:
#so lets extract all the data having the company names
company_name=[]
for i in driver.find_elements_by_xpath("//a[@class=' css-l2wjgv e1n63ojh0 jobLink']"):
    company_name.append(i.text)
            
#so lets extract number of days ago when job was posted
ndays=[]
for i in driver.find_elements_by_xpath("//div[@class='d-flex align-items-end pl-std css-mi55ob']"):
    ndays.append(i.text)
            

        
# so lets extract the ratings required data
ratings=[]
for i in driver.find_elements_by_xpath("//span[@class='css-19pjha7 e1cjmv6j1']"):
    ratings.append(i.text)
            
            
    
glassdoor=pd.DataFrame({})
glassdoor['Company ']=company_name[:10]
glassdoor['Number of days ago']=ndays[:10]
glassdoor['Ratings']=ratings[:10]
    
print("Shape of glassdoor datascience jobs detail have {} rows and {} columns \n.".format(*glassdoor.shape))
glassdoor

Shape of glassdoor datascience jobs detail have 10 rows and 3 columns
.

                   Company  Number of days ago Ratings
0                   Taboola                 5d     4.2
1                   Bechtel                15d     3.9
2  Lantern Digital Services                 6d     3.5
3             Data Patterns                 1d     3.0
4            Biz2Credit Inc                21d     3.7
5           Priority Vendor                12d     3.7
6                     Crowe                13d     3.8
7                  Ericsson                11d     4.1
8      United Airlines Inc.                 4d     4.1
9      Gauge Data Solutions                12d     3.0

###  Question - 6 Scrape data of first 100 sunglasses listings on flipkart.com.

In [71]:
import requests

In [75]:
requests.get('https://www.flipkart.com/')

In [99]:
url='https://www.flipkart.com/'
driver.get(url)

In [100]:
#finding element for Sunglasses search bar

search_glasses = driver.find_element_by_class_name('_3704LK')
search_glasses.send_keys('Sunglasses')

#do click using class_name function

search_btn = driver.find_element_by_xpath("//button[@class='L0Z3Pu']")
search_btn.click()

In [126]:
urls=[]
for i in driver.find_elements_by_xpath("//nav[@class='yFHi8N']//a"):
    urls.append(i.get_attribute("href"))

In [143]:
Brands=[]
product_desc=[]
price=[]
Discount=[]

for i in urls[:3]:
    driver.get(i)
    time.sleep(3)
    
    #Brand Name of the Sunglasses
    brands=driver.find_elements_by_xpath("//div[@class='_2WkVRV']")
    for i in brands:
        Brands.append(i.text)
        
    #Product Description of the Sunglasses
    for j in driver.find_elements_by_xpath("//a[@class='IRpwTa']"):
        product_desc.append(j.text)
        
    #Price of the Sunglasses 
    for k in driver.find_elements_by_xpath("//div[@class='_30jeq3']"):
        price.append(k.text)
    
    #Discount on the Sunglasses
    for l in driver.find_elements_by_xpath("//div[@class='_3Ay6Sb']//span"):
        Discount.append(l.text)

In [145]:
Sunglasses=pd.DataFrame({})
Sunglasses['Brands ']=Brands[:100]
Sunglasses['Product Description']=product_desc[:100]
Sunglasses['Price']=price[:100]
Sunglasses['Discount']=Discount[:100]

In [146]:
Sunglasses

,Brands,Product Description,Price,Discount
0,KHALEEFA,"Night Vision, Polarized, UV Protection, Riding...",₹403,68% off
1,EYELLUSION,UV Protection Wayfarer Sunglasses (Free Size),₹370,83% off
2,Fastrack,UV Protection Aviator Sunglasses (54),₹716,20% off
3,PIRASO,UV Protection Wayfarer Sunglasses (Free Size),₹237,85% off
4,Silver Kartz,"UV Protection, Gradient Rectangular Sunglasses...",₹246,83% off
...,...,...,...,...
95,Singco India,UV Protection Aviator Sunglasses (58),₹314,84% off
96,ROZZETTA CRAFT,UV Protection Round Sunglasses (53),₹426,88% off
97,Fastrack,Mirrored Aviator Sunglasses (55),₹563,29% off
98,PIRASO,UV Protection Rectangular Sunglasses (Free Size),₹298,88% off
99,HAMIW COLLECTION,UV Protection Sports Sunglasses (Free Size),₹229,85% off

### Q7: Scrape 100 reviews data from flipkart.com for iphone11 phone.

In [147]:
requests.get('https://www.flipkart.com/apple-iphone-11-black-64-gb-includes-earpods-power-adapter/p/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKCTSVZAXUHGREPBFGI&marketplace')

In [150]:
url='https://www.flipkart.com/apple-iphone-11-black-64-gb-includes-earpods-power-adapter/p/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKCTSVZAXUHGREPBFGI&marketplace'
driver.get(url)

In [151]:
#Clicking the element for getting the full page of Review

search_rev = driver.find_element_by_xpath("//div[@class='_3UAT2v _16PBlm'] ").click()

In [154]:
urls_pages=[]
for i in driver.find_elements_by_xpath("//nav[@class='yFHi8N']//a"):
    urls_pages.append(i.get_attribute("href"))

In [161]:
Rating=[]
Review_summary=[]
Full_review=[]


for i in urls_pages[:11]:
    driver.get(i)
    time.sleep(3)
    
    #Rating of the Phone
    rating=driver.find_elements_by_xpath("//div[@class='_3LWZlK _1BLPMq']")
    for i in rating:
        Rating.append(i.text)
        
    #Review Summary of the Phone
    for j in driver.find_elements_by_xpath("//p[@class='_2-N8zT']"):
        Review_summary.append(j.text)
        
    #Full Review of the Phone 
    for k in driver.find_elements_by_xpath("//div[@class='t-ZTKy']"):
        Full_review.append(k.text)

In [162]:
phone=pd.DataFrame({})
phone['Rating ']=Rating[:100]
phone['Review Summary']=Review_summary[:100]
phone['Full Review']=Full_review[:100]

In [163]:
phone

,Rating,Review Summary,Full Review
0,5,Brilliant,The Best Phone for the Money\n\nThe iPhone 11 ...
1,5,Perfect product!,Amazing phone with great cameras and better ba...
2,5,Great product,Amazing Powerful and Durable Gadget.\n\nI’m am...
3,5,Worth every penny,Previously I was using one plus 3t it was a gr...
4,5,Fabulous!,This is my first iOS phone. I am very happy wi...
...,...,...,...
95,3,Mind-blowing purchase,i was confused between 11 and 11 pro. i was go...
96,5,Fabulous!,Product is nice at the deviled time the delive...
97,5,Does the job,phone is good but in display is 720p lcd in th...
98,5,Fabulous!,Everything is perfect pictures come out so cle...
99,5,Awesome,I dreamt about this day from a long time.... G...

### Q.8 - Scrape data for first 100 sneakers you find when you visit flipkart.com and search for “sneakers” in the search field.

In [165]:
requests.get('https://www.flipkart.com/')

In [166]:
url='https://www.flipkart.com/'
driver.get(url)

In [167]:
#finding element for Sneakers search bar

search_glasses = driver.find_element_by_class_name('_3704LK')
search_glasses.send_keys('Sneakers')

#do click using class_name function

search_btn = driver.find_element_by_xpath("//button[@class='L0Z3Pu']")
search_btn.click()

In [168]:
urls=[]
for i in driver.find_elements_by_xpath("//nav[@class='yFHi8N']//a"):
    urls.append(i.get_attribute("href"))

In [171]:
Brands=[]
product_desc=[]
price=[]
Discount=[]

for i in urls[:4]:
    driver.get(i)
    time.sleep(3)
    
    #Brand Name of the Sneakers
    brands=driver.find_elements_by_xpath("//div[@class='_2WkVRV']")
    for i in brands:
        Brands.append(i.text)
        
    #Product Description of the Sneakers
    for j in driver.find_elements_by_xpath("//a[@class='IRpwTa']"):
        product_desc.append(j.text)
        
    #Price of the Sneakers 
    for k in driver.find_elements_by_xpath("//div[@class='_30jeq3']"):
        price.append(k.text)
    
    #Discount on the Sneakers
    for l in driver.find_elements_by_xpath("//div[@class='_3Ay6Sb']//span"):
        Discount.append(l.text)

In [172]:
Sneakers=pd.DataFrame({})
Sneakers['Brands ']=Brands[:100]
Sneakers['Product Description']=product_desc[:100]
Sneakers['Price']=price[:100]
Sneakers['Discount']=Discount[:100]

In [177]:
Sneakers

,Brands,Product Description,Price,Discount
0,Birde,Sneakers For Men,₹252,49% off
1,BRUTON,Combo Pack Of 4 Casual Shoes Loafer Shoes Snea...,₹424,87% off
2,CALCADOS,Sneakers For Men,₹748,62% off
3,KULP,Combo pack of 2 casual sneaker shoes for men S...,₹425,57% off
4,India hub,Trendy Fashion Combo Pack of 2 Sneakers For Men,₹389,87% off
...,...,...,...,...
95,Birde,Sneakers For Men,₹319,23% off
96,SPARX,Combo Pack of 4 Casual Sneakers With Sneakers ...,"₹1,038",78% off
97,Axter,Combo Pack Of 4 Casual Shoes Loafer Shoes Snea...,₹299,87% off
98,BRUTON,Sneakers For Men,₹299,31% off
99,SPADE CLUB,Combo Pack of 4 Casual Shoes Sneakers For Men,₹689,57% off

### Q9: Go to the link - https://www.myntra.com/shoes

Set Price filter to “Rs. 6649 to Rs. 13099” , Color filter to “Black”,

In [183]:
url='https://www.myntra.com/shoes'
driver.get(url)

In [238]:
#Clicking the element for getting the Price filter to "Rs. 6649 to Rs. 13099"

search_price = driver.find_element_by_xpath("/html/body/div[2]/div/div[1]/main/div[3]/div[1]/section/div/div[5]/ul/li[2]/label").click()

In [199]:
#Clicking the element for getting the color of the shoes"Black"
search_color= driver.find_element_by_xpath("/html/body/div[2]/div/div[1]/main/div[3]/div[1]/section/div/div[6]/ul/li[1]/label").click()

In [202]:
urls=[]
for i in driver.find_elements_by_xpath("//div[@class='results-showMoreContainer']//a"):
    urls.append(i.get_attribute("href"))

In [207]:
Brands=[]
product_desc=[]
price=[]

for i in urls[:4]:
    driver.get(i)
    time.sleep(3)
    
    #Brand Name of the Shoes
    brands=driver.find_elements_by_xpath("//h3[@class='product-brand']")
    for i in brands:
        Brands.append(i.text)
        
    #Product Description of the Shoes
    for j in driver.find_elements_by_xpath("//h4[@class='product-product']"):
        product_desc.append(j.text)
        
    #Price of the Shoes 
    for k in driver.find_elements_by_xpath("//span[@class='product-discountedPrice']"):
        price.append(k.text)

In [210]:
Shoes=pd.DataFrame({})
Shoes['Brands ']=Brands[0:100]
Shoes['Product Description']=product_desc[0:100]
Shoes['Price']=price[0:100]
Shoes

                 Brands              Product Description      Price
0                   Nike       Women REACT Running Shoes   Rs. 7796
1                   Nike  Unisex LEBRON XVIII Basketball  Rs. 12316
2                   Nike  Unisex COSMIC UNITY Basketball  Rs. 11470
3                   Nike     Men ZOOM FREAK 2 Basketball   Rs. 7721
4                   Nike   Men REACT MILER Running Shoes   Rs. 8246
..                   ...                             ...        ...
95  Heel & Buckle London  Women Solid Leather Gladiators   Rs. 9093
96             Cole Haan  Women Solid Leather Ballerinas   Rs. 8799
97          Hush Puppies       Men Leather Formal Derbys   Rs. 6749
98          UNDER ARMOUR  Charged RC Sportstyle Sneakers  Rs. 11199
99                  FILA                  Women Sneakers   Rs. 7199

[100 rows x 3 columns]

###  Question-9 - Web Scrapping from https://www.amazon.in/

In [286]:
url='https://www.amazon.in/'
driver.get(url)

In [287]:
#finding element for Laptop search bar

search_laptop = driver.find_element_by_id('twotabsearchtextbox')
search_laptop.send_keys('Laptop')

#do click using id function

search_btn = driver.find_element_by_id("nav-search-submit-button")
search_btn.click()

In [288]:
#locating the core i7 filter

filter_button=driver.find_elements_by_xpath("//a[@class='a-link-normal s-navigation-item']/span")
for i in filter_button:
    if i.text=='Intel Core i7':
        i.click()
        break

In [289]:
#locating the core i9 filter

filter_button=driver.find_elements_by_xpath("//a[@class='a-link-normal s-navigation-item']/span")
for i in filter_button:
    if i.text=='Intel Core i9':
        i.click()
        break

In [290]:
Title=[]   
#Title of  Laptops
for i in driver.find_elements_by_xpath("//span[@class='a-size-medium a-color-base a-text-normal']"):
    Title.append(i.text)

In [291]:
len(Title)

30

In [292]:
urls=[]
for i in driver.find_elements_by_xpath("//h2[@class='a-size-mini a-spacing-none a-color-base s-line-clamp-2']/a"):
    urls.append(i.get_attribute("href"))

In [293]:
len(urls)

30

In [294]:
#defining variables
Ratings=[]
price=[]

for i in urls:
    driver.get(i)
    time.sleep(3)
    #fetching the ratings of laptop
    try:
        rating=driver.find_element_by_xpath("//span[@class='a-size-base a-nowrap']")
        Ratings.append(rating.text)
    except:
         Ratings.append('--')
    #fetching the Price of laptop
    try:
        pay=driver.find_element_by_id("priceblock_ourprice")
        price.append(pay.text)
    except:
         price.append('--')

In [295]:
print(len(Ratings),len(price))

30 30

#### Creating a dataframe

In [299]:
Amazon_laptop=pd.DataFrame({})
Amazon_laptop['Nmae of the Laptop ']=Title[0:10]
Amazon_laptop['Ratings of Laptop']=Ratings[0:10]
Amazon_laptop['Price of the Laptop']=price[0:10]
Amazon_laptop

,Nmae of the Laptop,Ratings of Laptop,Price of the Laptop
0,Lenovo Yoga Slim 7 10th Gen Intel Core i7 14 i...,3.2 out of 5,"₹ 83,990.00"
1,"Lenovo Yoga 7 11th Gen Intel Core i7 14"" (35.5...",4.2 out of 5,"₹ 97,990.00"
2,Mi Notebook Horizon Edition 14 Intel Core i5-1...,4.4 out of 5,"₹ 54,999.00"
3,"Lenovo Ideapad 5 Intel i7 11th Gen 15.6"" Thin ...",5 out of 5,"₹ 76,990.00"
4,"Lenovo Yoga 7 11th Gen Intel Core i7 14"" (35.5...",4.2 out of 5,"₹ 97,990.00"
5,HP Pavilion Gaming 10th Gen Intel Core i7 Proc...,4.1 out of 5,"₹ 86,990.00"
6,HP Pavilion (2021) Thin & Light 11th Gen Core ...,4.5 out of 5,"₹ 84,990.00"
7,"HP 14 Thin & Light 14"" (35.56cms) FHD Laptop (...",4.7 out of 5,"₹ 89,990.00"
8,(Renewed) Dell G7 7500 15.6inch FHD 300 Hz Dis...,--,"₹ 1,70,587.00"
9,Life Digital Laptop 15.6-inch (39.62 cms) (Int...,3.1 out of 5,"₹ 26,990.00"