In [1]:
# Importing Libraries
import selenium
import pandas as pd
import time
from bs4 import BeautifulSoup

# Importing selenium webdriver 
from selenium import webdriver

# Importing required Exceptions 3
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException

#Importing requests
import requests

# importing regex
import re

* Q1 - Scrape the details of most viewed videos on YouTube from Wikipedia:
Url = https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos/
You need to find following details:
A) Rank
B) Name
C) Artist
D) Upload date
E) Views

In [7]:
# Activating the chrome browser
driver=webdriver.Chrome("chromedriver.exe") 
time.sleep(2)

# opening The website
url = "https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos"
driver.get(url)
time.sleep(2)

In [8]:

# Empty lists
you_vid = {}
you_vid['Rank'] = []
you_vid['Video Name'] = []
you_vid['Artist'] = []
you_vid['Views'] = []
you_vid['Upload Date'] = []

#Rank
dt = driver.find_elements_by_xpath('//*[@id="mw-content-text"]/div[1]/table[3]/tbody/tr/td[1]'.format(i))
for d in dt:
    you_vid['Rank'].append(d.text)

# Video Name
vn = driver.find_elements_by_xpath('//*[@id="mw-content-text"]/div[1]/table[3]/tbody/tr/td[2]'.format(i))
for n in vn:
    you_vid['Video Name'].append(n.text)
    
# Artist name
art = driver.find_elements_by_xpath('//*[@id="mw-content-text"]/div[1]/table[3]/tbody/tr/td[3]'.format(i))
for n in art:
    you_vid['Artist'].append(n.text)
    
# Views
view = driver.find_elements_by_xpath('//*[@id="mw-content-text"]/div[1]/table[3]/tbody/tr/td[4]'.format(i))
for s in view:
    you_vid['Views'].append(s.text)

# Upload date
upd = driver.find_elements_by_xpath('//*[@id="mw-content-text"]/div[1]/table[3]/tbody/tr/td[5]'.format(i))
for l in upd:
    you_vid['Upload Date'].append(l.text)

youtube_df = pd.DataFrame(you_vid)
   
df_reset=youtube_df.set_index('Rank')
df_reset

,Video Name,Artist,Views,Upload Date
Rank,,,,
1.,"""Baby Shark Dance""[22]",Pinkfong Kids' Songs & Stories,8.95,"June 17, 2016"
2.,"""Despacito""[24]",Luis Fonsi,7.44,"January 12, 2017"
3.,"""Johny Johny Yes Papa""[25]",LooLoo Kids,5.54,"October 8, 2016"
4.,"""Shape of You""[26]",Ed Sheeran,5.38,"January 30, 2017"
5.,"""See You Again""[27]",Wiz Khalifa,5.17,"April 6, 2015"
6.,"""Masha and the Bear – Recipe for Disaster""[30]",Get Movies,4.44,"January 31, 2012"
7.,"""Bath Song""[31]",Cocomelon – Nursery Rhymes,4.29,"May 2, 2018"
8.,"""Learning Colors – Colorful Eggs on a Farm""[32]",Miroshka TV,4.25,"February 27, 2018"
9.,"""Uptown Funk""[33]",Mark Ronson,4.22,"November 19, 2014"
10.,"""Gangnam Style""[34]",Psy,4.11,"July 15, 2012"
11.,"""Phonics Song with Two Words""[36]",ChuChu TV,3.98,"March 6, 2014"
12.,"""Sugar""[37]",Maroon 5,3.50,"January 14, 2015"
13.,"""Dame Tu Cosita""[38]",El Chombo,3.45,"April 5, 2018"
14.,"""Sorry""[39]",Justin Bieber,3.45,"October 22, 2015"
15.,"""Roar""[40]",Katy Perry,3.38,"September 5, 2013"
16.,"""Counting Stars""[41]",OneRepublic,3.34,"May 31, 2013"
17.,"""Thinking Out Loud""[42]",Ed Sheeran,3.29,"October 7, 2014"
18.,"""Wheels on the Bus""[43]",Cocomelon – Nursery Rhymes,3.15,"May 24, 2018"
19.,"""Dark Horse""[44]",Katy Perry,3.10,"February 20, 2014"
20.,"""Faded""[45]",Alan Walker,3.10,"December 3, 2015"
21.,"""Shake It Off""[46]",Taylor Swift,3.07,"August 18, 2014"
22.,"""Girls Like You""[47]",Maroon 5,3.07,"May 31, 2018"
23.,"""Lean On""[48]",Major Lazer,3.06,"March 22, 2015"
24.,"""Bailando""[49]",Enrique Iglesias,3.06,"April 11, 2014"
25.,"""Let Her Go""[50]",Passenger,3.02,"July 25, 2012"
26.,"""Mi Gente""[51]",J Balvin,2.94,"June 29, 2017"
27.,"""Perfect""[52]",Ed Sheeran,2.89,"November 9, 2017"
28.,"""Waka Waka (This Time for Africa)""[53]",Shakira,2.88,"June 4, 2010"
29.,"""Axel F""[54]",Crazy Frog,2.87,"June 16, 2009"
30.,"""Hello""[55]",Adele,2.85,"October 22, 2015"

* Q2 - Scrape the details team India’s international fixtures from bcci.tv.
Url = https://www.bcci.tv/.
You need to find following details:
A) Match title (I.e. 1st ODI)
B) Series
C) Place
D) Date
E) Time

In [9]:
# Activating the chrome browser
driver=webdriver.Chrome("chromedriver.exe") 
time.sleep(2)

# opening The website
url = "https://www.bcci.tv/"
driver.get(url)
time.sleep(2)

#clicking the side button
button = driver.find_element_by_xpath("//button[@class='navigation__header-button menu-button js-navigation-menu-button']")
button.click()
time.sleep(1)

#clicking the international option button
int_button = driver.find_element_by_xpath("//div[@class='navigation__expand']")
int_button.click()
time.sleep(1)

#clicking the fixtures button
fixtures = driver.find_element_by_xpath("//li[@class='drop-down__option  ']/a[1]")
fixtures.click()
time.sleep(1)

In [15]:
# intialising lists
matches_ind = {}
matches_ind['Match title'] = []
matches_ind['Series'] = []
matches_ind['Place'] = []
matches_ind['Date'] = []
matches_ind['Time'] = []

#Match
title= driver.find_elements_by_xpath("//strong[@class='fixture__name fixture__name--with-margin']".format(i))
for d in title:
    matches_ind['Match title'].append(d.text)

# Series
ser = driver.find_elements_by_xpath("//span[@class='u-unskewed-text fixture__tournament-label u-truncated']".format(i))
for n in ser:
    matches_ind['Series'].append(n.text)
    
# Place
place = driver.find_elements_by_xpath("//p[@class='fixture__additional-info']/span".format(i))
for n in place:
    matches_ind['Place'].append(n.text)
    
# Date
dt = driver.find_elements_by_xpath("//span[@class='fixture__datetime tablet-only']".format(i))
for s in dt:
    matches_ind['Date'].append(s.text.split()[0:3])

# Time
tym = driver.find_elements_by_xpath("//span[@class='fixture__datetime tablet-only']".format(i))
for l in tym:
    matches_ind['Time'].append(l.text.split()[3:])

fixtures_df = pd.DataFrame(matches_ind)
fixtures_df

,Match title,Series,Place,Date,Time
0,1st ODI,SRI LANKA V INDIA 2021,"R Premadasa Stadium, Colombo","[Sunday, 18, July]","[15:00, IST]"
1,2nd ODI,SRI LANKA V INDIA 2021,"R Premadasa Stadium, Colombo","[Tuesday, 20, July]","[15:00, IST]"
2,3rd ODI,SRI LANKA V INDIA 2021,"R Premadasa Stadium, Colombo","[Friday, 23, July]","[15:00, IST]"
3,1st T20I,SRI LANKA V INDIA 2021,"R Premadasa Stadium, Colombo","[Sunday, 25, July]","[20:00, IST]"
4,2nd T20I,SRI LANKA V INDIA 2021,"R Premadasa Stadium, Colombo","[Tuesday, 27, July]","[20:00, IST]"
5,3rd T20I,SRI LANKA V INDIA 2021,"R Premadasa Stadium, Colombo","[Thursday, 29, July]","[20:00, IST]"
6,1st Test,ENGLAND V INDIA 2021,"Trent Bridge, Nottingham","[Wednesday, 4, August]","[15:30, IST]"
7,2nd Test,ENGLAND V INDIA 2021,"Lord's, London","[Thursday, 12, August]","[15:30, IST]"
8,3rd Test,ENGLAND V INDIA 2021,"Headingley, Leeds","[Wednesday, 25, August]","[15:30, IST]"
9,4th Test,ENGLAND V INDIA 2021,"The Oval, London","[Thursday, 2, September]","[15:30, IST]"
10,5th Test,ENGLAND V INDIA 2021,"Old Trafford, Manchester","[Friday, 10, September]","[15:30, IST]"

* Q3. Scrape the details of selenium exception from guru99.com.
Url = https://www.guru99.com/
You need to find following details:
A) Name
B) Description

In [18]:
# Activating the chrome browser
driver=webdriver.Chrome("chromedriver.exe") 
time.sleep(2)

# opening The website
url = "https://www.guru99.com/"
driver.get(url)
time.sleep(2)


# do click on selenium
button = driver.find_element_by_xpath('//*[@id="g-footer"]/div/div[1]/div/div/div/div/div/div[2]/div[2]/div/div/div/a').get_attribute('href')
driver.get(button)

# getting the selenium exception handling page
exp = driver.find_element_by_xpath('//*[@id="g-mainbar"]/div/div/div/div/div/div/div[2]/table[5]/tbody/tr[34]/td[1]/a').get_attribute('href')
driver.get(exp)

In [26]:
# initialising lists
df={}
df['Name']=[]
df['Description']=[]

# Name
name = driver.find_elements_by_xpath('//*[@id="g-mainbar"]/div/div/div/div/div/div/div[2]/table/tbody/tr/td[1]'.format(i))
for s in name:
    df['Name'].append(s.text)

desc = driver.find_elements_by_xpath('//*[@id="g-mainbar"]/div/div/div/div/div/div/div[2]/table/tbody/tr/td[2]'.format(i))
for s in desc:
    df['Description'].append(s.text)
    
exp_df = pd.DataFrame(df)
exp_df.columns = exp_df.iloc[0]
exp_df = exp_df[1:]
exp_df

,Exception name,Description
1,ElementNotVisibleException,This type of Selenium exception occurs when an...
2,ElementNotSelectableException,This Selenium exception occurs when an element...
3,NoSuchElementException,This Exception occurs if an element could not ...
4,NoSuchFrameException,This Exception occurs if the frame target to b...
5,NoAlertPresentException,This Exception occurs when you switch to no pr...
6,NoSuchWindowException,This Exception occurs if the window target to ...
7,StaleElementReferenceException,This Selenium exception occurs happens when th...
8,SessionNotFoundException,The WebDriver is acting after you quit the bro...
9,TimeoutException,Thrown when there is not enough time for a com...
10,WebDriverException,This Exception takes place when the WebDriver ...
11,ConnectionClosedException,This type of Exception takes place when there ...
12,ElementClickInterceptedException,The command may not be completed as the elemen...
13,ElementNotInteractableException,This Selenium exception is thrown when any ele...
14,ErrorInResponseException,This happens while interacting with the Firefo...
15,ErrorHandler.UnknownServerException,Exception is used as a placeholder in case if ...
16,ImeActivationFailedException,This expectation will occur when IME engine ac...
17,ImeNotAvailableException,It takes place when IME support is unavailable.
18,InsecureCertificateException,Navigation made the user agent to hit a certif...
19,InvalidArgumentException,It occurs when an argument does not belong to ...
20,InvalidCookieDomainException,This happens when you try to add a cookie unde...
21,InvalidCoordinatesException,This type of Exception matches an interacting ...
22,InvalidElementStateExceptio,It occurs when command can't be finished when ...
23,InvalidSessionIdException,This Exception took place when the given sessi...
24,InvalidSwitchToTargetException,This occurs when the frame or window target to...
25,JavascriptException,This issue occurs while executing JavaScript g...
26,JsonException,It occurs when you afford to get the session w...
27,NoSuchAttributeException,This kind of Exception occurs when the attribu...
28,MoveTargetOutOfBoundsException,It takes place if the target provided to the A...
29,NoSuchContextException,ContextAware does mobile device testing.
30,NoSuchCookieException,This Exception occurs when no cookie matching ...
31,NotFoundException,This Exception is a subclass of WebDriverExcep...
32,RemoteDriverServerException,This Selenium exception is thrown when the ser...
33,ScreenshotException,It is not possible to capture a screen.
34,SessionNotCreatedException,It happens when a new session could not be suc...
35,UnableToSetCookieException,This occurs if a driver is unable to set a coo...
36,UnexpectedTagNameException,Happens if a support class did not get a web e...
37,UnhandledAlertException,This expectation occurs when there is an alert...
38,UnexpectedAlertPresentException,It occurs when there is the appearance of an u...
39,UnknownMethodException,This Exception happens when the requested comm...
40,UnreachableBrowserException,This Exception occurs only when the browser is...
41,UnsupportedCommandException,This occurs when remote WebDriver does n't sen...

* Q 4. Scrape the details of State-wise GDP of India from statisticstime.com.
Url = http://statisticstimes.com/
You have to find following details:
A) Rank
B) State
C) GSDP at current price (19-20)
D) GSDP at current price (18-19)
E) Share(18-19)
F) GDP($ billion)

In [30]:
# Activating the chrome browser
driver=webdriver.Chrome("chromedriver.exe") 
time.sleep(2)

# opening The website
url = "https://statisticstimes.com/"
driver.get(url)
time.sleep(2)


# do click on economy of india
button = driver.find_element_by_xpath('//*[@id="top"]/div[2]/div[2]/div/a[3]').get_attribute('href')
driver.get(button)

# do click on gdp of indian states
gdp_button = driver.find_element_by_xpath('/html/body/div[2]/div[2]/div[2]/ul/li[1]/a').get_attribute('href')
driver.get(gdp_button)

In [33]:
# Empty lists
gdp_df = {}
gdp_df['Rank'] = []
gdp_df['State'] = []
gdp_df['GSDP at current price (19-20)'] = []
gdp_df['GSDP at current price (18-19)'] = []
gdp_df['Share(18-19)'] = []
gdp_df['GDP($ billion)'] = []


#Rank
rnk = driver.find_elements_by_xpath('//*[@id="table_id"]/tbody/tr/td[1]'.format(i))
for d in rnk:
    gdp_df['Rank'].append(d.text)

# State
st = driver.find_elements_by_xpath('//*[@id="table_id"]/tbody/tr/td[2]'.format(i))
for n in st:
    gdp_df['State'].append(n.text)
    
# GSDP(19-20)
gsdp1 = driver.find_elements_by_xpath('//*[@id="table_id"]/tbody/tr/td[3]'.format(i))
for n in gsdp1:
    gdp_df['GSDP at current price (19-20)'].append(n.text)
    
# GSDP(18-19)
gsdp2 = driver.find_elements_by_xpath('//*[@id="table_id"]/tbody/tr/td[4]'.format(i))
for s in gsdp2:
    gdp_df['GSDP at current price (18-19)'].append(s.text)

# SHARE(18-19)
share = driver.find_elements_by_xpath('//*[@id="table_id"]/tbody/tr/td[5]'.format(i))
for l in share:
    gdp_df['Share(18-19)'].append(l.text)
    
# GDP($ BILLION)
gdp = driver.find_elements_by_xpath('//*[@id="table_id"]/tbody/tr/td[6]'.format(i))
for l in gdp:
    gdp_df['GDP($ billion)'].append(l.text)

df = pd.DataFrame(gdp_df)
   
df_reset=df.set_index('Rank')
df_reset

,State,GSDP at current price (19-20),GSDP at current price (18-19),Share(18-19),GDP($ billion)
Rank,,,,,
1,Maharashtra,-,"2,632,792",13.94%,399.921
2,Tamil Nadu,"1,845,853","1,630,208",8.63%,247.629
3,Uttar Pradesh,"1,687,818","1,584,764",8.39%,240.726
4,Gujarat,-,"1,502,899",7.96%,228.290
5,Karnataka,"1,631,977","1,493,127",7.91%,226.806
6,West Bengal,"1,253,832","1,089,898",5.77%,165.556
7,Rajasthan,"1,020,989","942,586",4.99%,143.179
8,Andhra Pradesh,"972,782","862,957",4.57%,131.083
9,Telangana,"969,604","861,031",4.56%,130.791
10,Madhya Pradesh,"906,672","809,592",4.29%,122.977
11,Kerala,-,"781,653",4.14%,118.733
12,Delhi,"856,112","774,870",4.10%,117.703
13,Haryana,"831,610","734,163",3.89%,111.519
14,Bihar,"611,804","530,363",2.81%,80.562
15,Punjab,"574,760","526,376",2.79%,79.957
16,Odisha,"521,275","487,805",2.58%,74.098
17,Assam,-,"315,881",1.67%,47.982
18,Chhattisgarh,"329,180","304,063",1.61%,46.187
19,Jharkhand,"328,598","297,204",1.57%,45.145
20,Uttarakhand,-,"245,895",1.30%,37.351
21,Jammu & Kashmir,-,"155,956",0.83%,23.690
22,Himachal Pradesh,"165,472","153,845",0.81%,23.369
23,Goa,"80,449","73,170",0.39%,11.115
24,Tripura,"55,984","49,845",0.26%,7.571
25,Chandigarh,-,"42,114",0.22%,6.397
26,Puducherry,"38,253","34,433",0.18%,5.230
27,Meghalaya,"36,572","33,481",0.18%,5.086
28,Sikkim,"32,496","28,723",0.15%,4.363
29,Manipur,"31,790","27,870",0.15%,4.233
30,Nagaland,-,"27,283",0.14%,4.144
31,Arunachal Pradesh,-,"24,603",0.13%,3.737
32,Mizoram,"26,503","22,287",0.12%,3.385
33,Andaman & Nicobar Islands,-,-,-,-

* Q- 5. Scrape the details of trending repositories on Github.com.
Url = https://github.com/
You have to find the following details:
A) Repository title
B) Repository description
C) Contributors count
D) Language used


Note: - From the home page you have to click on the trending option from Explore menu through code.

In [11]:
# Activating the chrome browser
driver=webdriver.Chrome("chromedriver.exe") 
time.sleep(2)

# opening The website
url = "https://github.com/"
driver.get(url)
time.sleep(2)


#clicking the explore button
explore_btn = driver.find_element_by_xpath("/html/body/div[1]/header/div/div[2]/nav/ul/li[4]/details/summary")
explore_btn.click()
time.sleep(1)

#clicking the trending button
trend_btn = driver.find_element_by_xpath("/html/body/div[1]/header/div/div[2]/nav/ul/li[4]/details/div/ul[2]/li[3]/a")
trend_btn.click()
time.sleep(1)

In [12]:
# Fetching urls of phones coming on 1st page
git_urls = []
urls = driver.find_elements_by_xpath('//h1[@class="h3 lh-condensed"]/a')
for url in urls:
    git_urls.append(url.get_attribute("href"))

#initialising empty list
git_df={}
git_df['Repositary title']=[]
git_df['Repsoitary description']=[]
git_df['Contributors count']=[]
git_df['Langauge used']=[]

# Scraping data from each url
for url in git_urls:
    driver.get(url)    # Saving url                                                   
    
    try:
        title = driver.find_element_by_xpath('//strong[@class="mr-2 flex-self-stretch"]')      # Extracting Title name from xpath
        git_df['Repositary title'].append(title.text)
    except NoSuchElementException:
        git_df['Repositary title'].append('-')
        
    try:
        desc = driver.find_element_by_xpath("//p[@class='f4 mt-3']")      # Extracting description from xpath
        git_df['Repsoitary description'].append(desc.text)
    except NoSuchElementException:
        git_df['Repsoitary description'].append('-')
        
    try:
        count=driver.find_element_by_xpath("//h2[@class='h4 mb-3']/a[contains(text(),'Contributors')]/span")
        git_df['Contributors count'].append(count.text)
    except NoSuchElementException:
        git_df['Contributors count'].append('-')
        
    try:
        lang = driver.find_element_by_xpath("//span[@class='color-text-primary text-bold mr-1']")      # Extracting language used from xpath
        git_df['Langauge used'].append(lang.text)
    except NoSuchElementException:
        git_df['Langauge used'].append('-')
        
df = pd.DataFrame(git_df)
df

,Repositary title,Repsoitary description,Contributors count,Langauge used
0,IoT-For-Beginners,"12 Weeks, 24 Lessons, IoT for All!",26,C++
1,javascript-algorithms,📝 Algorithms and data structures implemented i...,143,JavaScript
2,Sa-Token,这可能是史上功能最全的Java权限认证框架！目前已集成——登录认证、权限认证、分布式Sess...,20,Java
3,cockroach,"CockroachDB - the open source, cloud-native di...",479,Go
4,faker2,不知名大佬备份,-,JavaScript
5,TDengine,An open-source big data platform designed and ...,83,C
6,kitex,-,5,Go
7,cake_sniper,EVM frontrunning tool,-,Go
8,applied-ml,📚 Papers & tech blogs by companies sharing the...,14,-
9,awesome-mac," Now we have become very big, Different from ...",358,JavaScript
10,CBL-Mariner,Linux OS for Azure 1P services and edge applia...,37,Go
11,awesome-fenix,讨论如何构建一套可靠的大型分布式系统,8,Vue
12,alurakut,Projeto construido durante a Imersão React edi...,-,JavaScript
13,algorithm-base,专门为刚开始刷题的同学准备的算法基地，没有最细只有更细，立志用动画将晦涩难懂的算法说的通俗易懂！,6,Java
14,The-Complete-FAANG-Preparation,This repository contains all the DSA (Data-Str...,33,Jupyter Notebook
15,workflow,C++ Parallel Computing and Asynchronous Networ...,14,C++
16,awesome-explainable-graph-reasoning,A collection of research papers and software r...,2,-
17,system-design-primer,Learn how to design large-scale systems. Prep ...,110,Python
18,folly,An open-source C++ library developed and used ...,580,C++
19,godot,Godot Engine – Multi-platform 2D and 3D game e...,"1,447",C++
20,barinsta,Open-source alternative Instagram client on An...,31,Java
21,BlackHole,A Music Player App made with Flutter,5,Dart
22,awesome-lowcode,国内低代码平台从业者交流,23,-
23,30-seconds-of-code,Short JavaScript code snippets for all your de...,259,JavaScript
24,Machine-Learning,⚡机器学习实战（Python3）：kNN、决策树、贝叶斯、逻辑回归、SVM、线性回归、树回归,5,Python

* Q 6. Scrape the details of top 100 songs on billboard.com.
Url = https://www.billboard.com/
You have to find the following details:
A) Song name
B) Artist name
C) Last week rank
D) Peak rank
E) Weeks on board

Note: - From the home page you have to click on the charts option then hot 100-page link through code.

In [24]:
# Activating the chrome browser
driver=webdriver.Chrome("chromedriver.exe") 
time.sleep(2)

# opening The website
url = "https://www.billboard.com/"
driver.get(url)
time.sleep(2)

In [25]:
# do click on top 100 
chart_button = driver.find_element_by_xpath("//*[@id='root']/div[2]/div[2]/nav/ul/li[3]/a").get_attribute('href')
driver.get(chart_button)

In [27]:
# Empty lists
song_df = {}
song_df['Song Name'] = []
song_df['Artist Name'] = []
song_df['Last week rank'] = []
song_df['Peak rank'] = []
song_df['weeks on board'] = []


#Song Name
sng = driver.find_elements_by_xpath("//span[@class='chart-element__information__song text--truncate color--primary']")
for d in sng:
    song_df['Song Name'].append(d.text)

# Artist Name
artist = driver.find_elements_by_xpath("//span[@class='chart-element__information__artist text--truncate color--secondary']")
for n in artist:
    song_df['Artist Name'].append(n.text)
    
#Last week rank
lst = driver.find_elements_by_xpath("//div[@class='chart-element__meta text--center color--secondary text--last']")
for n in lst:
    song_df['Last week rank'].append(n.text)
    
# peak rank
peak = driver.find_elements_by_xpath("//div[@class='chart-element__meta text--center color--secondary text--peak']")
for s in peak:
    song_df['Peak rank'].append(s.text)

# weeks on board
weeks = driver.find_elements_by_xpath("//div[@class='chart-element__meta text--center color--secondary text--week']")
for l in weeks:
    song_df['weeks on board'].append(l.text)
    

df = pd.DataFrame(song_df)

In [28]:
df

,Song Name,Artist Name,Last week rank,Peak rank,weeks on board
0,Butter,BTS,1,1,7
1,Good 4 U,Olivia Rodrigo,2,1,8
2,Levitating,Dua Lipa Featuring DaBaby,4,2,40
3,Kiss Me More,Doja Cat Featuring SZA,3,3,13
4,Montero (Call Me By Your Name),Lil Nas X,8,1,15
...,...,...,...,...,...
95,All I Know So Far,P!nk,-,74,4
96,What's Next,Drake,-,1,16
97,Enough For You,Olivia Rodrigo,-,14,6
98,Juggernaut,"Tyler, The Creator Featuring Lil Uzi Vert & Ph...",40,40,2
99,Tell Em,Cochise & $NOT,-,64,4

* Q 7. Scrape the details of Data science recruiters from naukri.com.
Url = https://www.naukri.com/
You have to find the following details:
A) Name
B) Designation
C) Company
D) Skills they hire for
E) Location

Note: - From naukri.com homepage click on the recruiters option and the on the search pane type Data science and click on search. All this should be done through code

In [94]:
# Activating the chrome browser
driver=webdriver.Chrome("chromedriver.exe") 
time.sleep(2)

# opening The website
url = "https://www.naukri.com/"
driver.get(url)
time.sleep(2)

# do click on recruiter button 
rec_btn = driver.find_element_by_xpath("//*[@id='root']/div[1]/div/ul[1]/li[2]/a/div")
rec_btn.click()
time.sleep(1)

In [96]:
url = "https://www.naukri.com/hr-recruiters-consultants"
driver.get(url)
time.sleep(2)

search_bar = driver.find_element_by_class_name("sugInp")    # Locating searc_bar by xpath
search_bar.send_keys("Data Science")                                  
search_button = driver.find_element_by_xpath('//*[@id="qsbFormBtn"]')       # Locating search_button by xpath
search_button.click()

In [98]:
# Empty lists
job_df = {}
job_df['Name'] = []
job_df['Designation'] = []
job_df['Company'] = []
job_df['Skills/Roles hire for'] = []
job_df['Location'] = []


# Name
name = driver.find_elements_by_xpath("//span[@class='fl ellipsis']")
for d in name:
    job_df['Name'].append(d.text)

# Designation
desgn = driver.find_elements_by_xpath("//span[@class='ellipsis clr']")
for n in desgn:
    job_df['Designation'].append(n.text)
    
#Company
comp = driver.find_elements_by_xpath("//p[@class='highlightable']/a[2]")
for n in comp:
    job_df['Company'].append(n.text)
    
# Skills/Roles they hire for
skills = driver.find_elements_by_xpath("//div[@class='hireSec highlightable']")
for s in skills:
    job_df['Skills/Roles hire for'].append(s.text)


# scraping the location, for scraping full job description we have to go in each of the jobs separately
urls=[i.get_attribute("href")for i in driver.find_elements_by_xpath("//p[@class='highlightable']/a[1]")]
for url in urls[:50]:
    try:
        driver.get(url)
        loc=driver.find_element_by_xpath("/html/body/div[2]/div[1]/div[1]/div[2]/div[5]/a").text
        job_df['Location'].append(loc)
    except NoSuchElementException :
        job_df['Location'].append("---")
    
df = pd.DataFrame(job_df)
df

,Name,Designation,Company,Skills/Roles hire for,Location
0,Aakash Harit,HR Manager,Data Science Network,"Classic ASP Developer, Internet Marketing Prof...",Delhi
1,shravan Kumar Gaddam,Company Recruiter,Shore Infotech India Pvt. Ltd,".Net, Java, Data Science, Linux Administration...",Hyderabad / Secunderabad
2,MARSIAN Technologies LLP,Company HR,MARSIAN Technologies LLP,"Data Science, Artificial Intelligence, Machine...",Pune
3,Anik Agrawal,Company Recruiter,Enerlytics Software Solutions Pvt Ltd,"Mean Stack, javascript, angularjs, mongodb, We...",Ahmedabad
4,subhas patel,Founder CEO,LibraryXProject,"Hadoop, Spark, Digital Strategy, Data Architec...",UK - (london)
5,Abhishek - Only Analytics Hiring - India and,Recruitment Lead Consultant,Apidel Technologies Division of Transpower,"Analytics, Business Intelligence, Business Ana...",Vadodara / Baroda
6,Institute for Financial Management and Resear,Programme Manager,IFMR,Data Science,Chennai
7,Balu Ramesh,HR Administrator,Techvantage Systems Pvt Ltd,"Machine Learning, algorithms, Go Getter, Compu...",Trivandrum
8,Asif Lucknowi,Director,Weupskill- Live Wire India,"Technical Training, Software Development, Pres...",Indore
9,InstaFinancials,Human Resource,CBL Data Science Private Limited,"Software Development, It Sales, Account Manage...",Bengaluru / Bangalore
10,Kalpana Dumpala,Executive Hiring,Innominds Software,"Qa, Ui/ux, Java Developer, Java Architect, C++...",Hyderabad / Secunderabad
11,Mubarak,Company HR,MoneyTap,"Business Intelligence, Data Warehousing, Data ...",Bengaluru / Bangalore
12,Kushal Rastogi,Company HR,QuantMagnum Technologies Pvt. Ltd.,"Office Administration, Hr Administration, tele...",Mumbai
13,Ruchi Dhote,Senior Executive Talent Acquisition,Bristlecone India Ltd,"Qlikview, Qlik Sense, Microsoft Azure, Power B...",Pune
14,Mahesh Babu Channa,HR Team Lead,SocialPrachar.com,"Social Media, digital media maketing, seo, smm...",Hyderabad / Secunderabad
15,Kapil Devang,HR Manager,BISP Solutions,"Big Data, Hadoop, Data Analytics, Data Science",Bhopal
16,Manisha Yadav,HR Executive,Easi Tax,"Telecalling, Client Interaction, Marketing, Re...",Navi Mumbai
17,Riya Rajesh,Manager Talent Acquisition,Novelworx Digital Solutions,Data Science,Cochin
18,Rashmi Bhattacharjee,HR Head,AXESTRACK SOFTWARE SOLUTIONS PRIVATE...,"Corporate Sales, Software Development, Softwar...",Delhi
19,Faizan Kareem,HR MANAGER,FirstTech Consaltants Pvt.Ltd,"Data Analytics, Data Science, Machine Learning...",Hyderabad / Secunderabad
20,Rithika dadwal,HR Recruiter,Affine Analytics,"Data Science, Machine Learning, Python, R, Dee...",Pune
21,Azahar Shaikh,Company Recruiter,NEAL ANALYTICS SERVICES PVT LTD,"Data Science, Artificial Intelligence, Machine...",Pune
22,Sandhya Khandagale,HR Recruiter,Compumatrice Multimedia Pvt Ltd,"Big Data, Data Science, Artificial Intelligenc...",Pune
23,Shaun Rao,Manager Human Resources,Exela Technologies,"Java, Net, Angularjs, Hr, Infrastructure, Mana...",Pune
24,Manas,Lead Talent acquisition,Autumn Leaf Consulting Services Private...,"Software Architecture, Vp Engineering, Product...",Bengaluru / Bangalore
25,kumar,Proprietor,trainin,"Data Science, Hadoop, Rpas, Devops, Python, Aw...",Bengaluru / Bangalore
26,Sunil Vedula,CEO,Nanoprecise Sci Corp,"Signal Processing, Machine Learning, Neural Ne...",Others
27,Rajat Kumar,Founder CEO,R.S Consultancy &amp; Services,"Web Technologies, Project Management, Software...",Delhi
28,Priya Khare,Senior Manager,Independent Consultant,"Data Science, Artificial Intelligence, analyti...",Bengaluru / Bangalore
29,Dhruv Dev Dubey,Company Recruitment Head,Confidential,"Server Administartion, Verilog, Vhdl, Digital ...",Bengaluru / Bangalore
30,Jayanth N,Project Manager,"Dollarbird Information Services Pvt, Ltd","Data Analytics, Managed Services, Team Leading...",Mysoru / Mysore
31,SREEDHAR,Recruitment Consultant,JOBSMILL BUSINESS SOLUTIONS PRIVATE LIMITED,"Data Science, Machine Learning, Big Data Analy...",Hyderabad / Secunderabad
32,Radha Manivasagam,HR Executive,Techcovery,"Python, Artificial Intelligence, Machine Learn...",Bengaluru / Bangalore
33,Prateek Kumar,Head,Trisect,"Java, Python, Angularjs, Software Testing, Mac...",Noida
34,Amit Sharma,Consultant,ASCO consulting,"Machine Learning, Artificial Intelligence, Dat...",New Delhi
35,Kanan,senior technology instructor,NY INST,"C, C++, Artificial Intelligence, Python, Php, ...",Chennai
36,Shashikant Chaudhary,HR Recruiter/HR Excutive,3D India Staffing Research &amp; Consulting...,"Relationship Management, Retail Sales, Private...",Aligarh
37,Brad,"Manager, Technical Recruiting",O.C. Tanner,"Data Science, Software Engineering",Salt Lake City
38,Rutuja Pawar,Technical Recruiter,Demand Matrix,"Data Science, Big Data Analytics, Digital Mark...",Pune
39,Madhusudhan Sridhar,Erp Implementer,MADHUSUDHAN SRIDHAR,"Data Science, Recruitment, Salary",Bengaluru / Bangalore
40,Ankit Sinha,Head Analytics,Suntech Global,"B.Tech, Tableau, Statistics, R, Analytics, Tim...",Mumbai
41,Gaurav Chouhan,Chief Technical Officer,Strategic Consulting Lab,"Software Development, Business Intelligence, B...",Indore
42,Rashi Kacker,Sr Product Manager,Impel Labs Pvt. Ltd.,"Data Science, Node.js, Angularjs",Bengaluru / Bangalore
43,Ashwini,Director Global Delivery,MRP Advisers,"Data Science, Media Marketing, Resource Planni...",MYSORE
44,Balaji Kolli,Co Founder,Saras Solutions India Pvt Ltd,"Data Analysis, Learning, Data Science, Compute...",Hyderabad / Secunderabad
45,Rajani Nagaraj,HR Manager,WildJasmine,"Java, Hadoop, R, Machine Learning, Spark, Flum...",Bengaluru / Bangalore
46,ROHIT Kumar,Architect,LNT Private Limited,"Software Development, Core Java, Unit Testing,...",Mumbai
47,Amir Chowdhury,Managing Partner,Granular.ai,"Machine Learning, Data Science, Product Manage...",
48,Shailja Mishra,HR Manager,Certybox Pvt.Ltd.,"consulting, Education Counseling, Educational ...",Noida
49,Sunny Sharma,Managing Director - HR,Western Service Providers,"Software Professionals, Engineering, Technical...",Mumbai

* Q 8. Scrape the details of Highest selling novels.
Url = https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-compare/
You have to find the following details:
A) Book name
B) Author name
C) Volumes sold
D) Publisher
E) Genre

In [105]:
# Activating the chrome browser
driver=webdriver.Chrome("chromedriver.exe") 
time.sleep(2)

# opening The website
url = "https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-compare"
driver.get(url)
time.sleep(2)

In [108]:
# Empty lists
novels_df = {}
novels_df['Book Name'] = []
novels_df['Author Name'] = []
novels_df['Volumes sold'] = []
novels_df['Publisher'] = []
novels_df['Genre'] = []

for i in range(0,101):
     # Book Name
    bname = driver.find_elements_by_xpath('//*[@id="table-cell-10943-{}-1"]'.format(i))
    for d in bname:
        novels_df['Book Name'].append(d.text)
        
     # Author Name
    a_name = driver.find_elements_by_xpath('//*[@id="table-cell-10943-{}-2"]'.format(i))
    for a in a_name:
        novels_df['Author Name'].append(a.text)
        
     # volume sold
    vsold = driver.find_elements_by_xpath('//*[@id="table-cell-10943-{}-3"]'.format(i))
    for vs in vsold:
        novels_df['Volumes sold'].append(vs.text)
        
     # Publisher
    pb = driver.find_elements_by_xpath('//*[@id="table-cell-10943-{}-4"]'.format(i))
    for p in pb:
        novels_df['Publisher'].append(p.text)
        
     # genre
    gen = driver.find_elements_by_xpath('//*[@id="table-cell-10943-{}-4"]'.format(i))
    for g in gen:
        novels_df['Genre'].append(g.text)

In [109]:
df=pd.DataFrame(novels_df)
df

,Book Name,Author Name,Volumes sold,Publisher,Genre
0,"Da Vinci Code,The","Brown, Dan","5,094,805",Transworld,Transworld
1,Harry Potter and the Deathly Hallows,"Rowling, J.K.","4,475,152",Bloomsbury,Bloomsbury
2,Harry Potter and the Philosopher's Stone,"Rowling, J.K.","4,200,654",Bloomsbury,Bloomsbury
3,Harry Potter and the Order of the Phoenix,"Rowling, J.K.","4,179,479",Bloomsbury,Bloomsbury
4,Fifty Shades of Grey,"James, E. L.","3,758,936",Random House,Random House
...,...,...,...,...,...
95,"Ghost,The","Harris, Robert","807,311",Random House,Random House
96,Happy Days with the Naked Chef,"Oliver, Jamie","794,201",Penguin,Penguin
97,"Hunger Games,The:Hunger Games Trilogy","Collins, Suzanne","792,187",Scholastic Ltd.,Scholastic Ltd.
98,"Lost Boy,The:A Foster Child's Search for the L...","Pelzer, Dave","791,507",Orion,Orion
99,Jamie's Ministry of Food:Anyone Can Learn to C...,"Oliver, Jamie","791,095",Penguin,Penguin

* Q 9. Scrape the details most watched tv series of all time from imdb.com.
Url = https://www.imdb.com/list/ls095964455/
You have to find the following details:
A) Name
B) Year span
C) Genre
D) Run time
E) Ratings
F) Votes

In [110]:
# Activating the chrome browser
driver=webdriver.Chrome("chromedriver.exe") 
time.sleep(2)

# opening The website
url = "https://www.imdb.com/list/ls095964455/"
driver.get(url)
time.sleep(2)

In [111]:
# Empty lists
movies_df = {}
movies_df['Name'] = []
movies_df['Year span'] = []
movies_df['Genre'] = []
movies_df['Run time'] = []
movies_df['Votes'] = []


# Name
name = driver.find_elements_by_xpath("//h3[@class='lister-item-header']/a")
for d in name:
    movies_df['Name'].append(d.text)

# Year span
year = driver.find_elements_by_xpath("//span[@class='lister-item-year text-muted unbold']")
for y in year:
    movies_df['Year span'].append(y.text)
    
# Genre
genres = driver.find_elements_by_xpath("//span[@class='genre']")
for d in genres:
    movies_df['Genre'].append(d.text)
    
# Runtime
runtym = driver.find_elements_by_xpath("//span[@class='runtime']")
for d in runtym:
    movies_df['Run time'].append(d.text)
    
# Votes
vote = driver.find_elements_by_xpath("//span[@name='nv']")
for d in vote:
    movies_df['Votes'].append(d.text)

df=pd.DataFrame(movies_df)
df

,Name,Year span,Genre,Run time,Votes
0,Game of Thrones,(2011–2019),"Action, Adventure, Drama",57 min,"1,835,393"
1,Stranger Things,(2016– ),"Drama, Fantasy, Horror",51 min,"874,161"
2,The Walking Dead,(2010–2022),"Drama, Horror, Thriller",44 min,"879,319"
3,13 Reasons Why,(2017–2020),"Drama, Mystery, Thriller",60 min,"264,212"
4,The 100,(2014–2020),"Drama, Mystery, Sci-Fi",43 min,"225,709"
...,...,...,...,...,...
95,Reign,(2013–2017),"Drama, Fantasy",42 min,"44,790"
96,A Series of Unfortunate Events,(2017–2019),"Adventure, Comedy, Drama",50 min,"55,397"
97,Criminal Minds,(2005–2020),"Crime, Drama, Mystery",42 min,"169,584"
98,Scream: The TV Series,(2015–2019),"Comedy, Crime, Drama",45 min,"35,120"
99,The Haunting of Hill House,(2018),"Drama, Horror, Mystery",572 min,"193,351"

* Q 10. Details of Datasets from UCI machine learning repositories.
Url = https://archive.ics.uci.edu/
You have to find the following details:
A) Dataset name
B) Data type
C) Task
D) Attribute type
E) No of instances
F) No of attribute
G) Year

Note: - from the home page you have to go to the Show All Dataset page through code.

In [112]:
# Activating the chrome browser
driver=webdriver.Chrome("chromedriver.exe") 
time.sleep(2)

# opening The website
url = "https://archive.ics.uci.edu/ml/index.php"
driver.get(url)
time.sleep(2)

In [113]:

# do click on recruiter button 
all_btn = driver.find_element_by_xpath("//span[@class='whitetext']/a/font")
all_btn.click()
time.sleep(1)

In [121]:
# Empty lists
df = {}
df['Dataset name'] = []
df['Data type'] = []
df['Task'] = []
df['Attribute Type'] = []
df['No of instances'] = []
df['No of attribute'] = []
df['Year'] = []

#dataset name
dset=driver.find_elements_by_xpath("/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr/td[1]")
for d in dset:
    df['Dataset name'].append(d.text)
    
#Data type
dtype=driver.find_elements_by_xpath("/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr/td[2]")
for d in dtype:
    df['Data type'].append(d.text)

#Task
task=driver.find_elements_by_xpath("/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr/td[3]")
for d in task:
    df['Task'].append(d.text)

#attribute type
type_att=driver.find_elements_by_xpath("/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr/td[4]")
for d in type_att:
    df['Attribute Type'].append(d.text)
    
#No of instances
inst=driver.find_elements_by_xpath("/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr/td[5]")
for d in inst:
    df['No of instances'].append(d.text)
    
# No of attribute
attr=driver.find_elements_by_xpath("/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr/td[6]")
for d in attr:
    df['No of attribute'].append(d.text)
    
#year
year=driver.find_elements_by_xpath("/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr/td[7]")
for d in year:
    df['Year'].append(d.text)

In [122]:
dataset = pd.DataFrame(df)
dataset.columns = dataset.iloc[0]
dataset = dataset[1:]
dataset

,Name,Data Types,Default Task,Attribute Types,# Instances,# Attributes,Year
1,Abalone,Multivariate,Classification,"Categorical, Integer, Real",4177,8,1995
2,Adult,Multivariate,Classification,"Categorical, Integer",48842,14,1996
3,Annealing,Multivariate,Classification,"Categorical, Integer, Real",798,38,
4,Anonymous Microsoft Web Data,,Recommender-Systems,Categorical,37711,294,1998
5,Arrhythmia,Multivariate,Classification,"Categorical, Integer, Real",452,279,1998
...,...,...,...,...,...,...,...
584,in-vehicle coupon recommendation,Multivariate,Classification,,12684,23,2020
585,Gait Classification,Multivariate,Classification,Real,48,321,2020
586,Wikipedia Math Essentials,Time-Series,Regression,Real,731,1068,2021
587,Wikipedia Math Essentials,Time-Series,Regression,Real,731,1068,2021
588,Synchronous Machine Data Set,Multivariate,Regression,Real,557,5,2021